[2017-05-03 21:59] Emily-Jiang opened #1 "Create baseline for fault tolerance for Asynchronous functionality"
Add Asynchronous annotation

[2017-05-05 01:58] johnament opened #2 "Create Retry annotation and Retry functionality"
The ability to retry an invocation repeatedly, for some number of iterations, based on some exception or cause.

[2017-05-05 01:59] johnament opened #3 "Create CircuitBreaker Functionality"
The ability to fail an invocation fast based on known failure state of the component, both annotation and programmatic fashions.

[2017-05-05 02:00] johnament opened #4 "Create Fallback functionality"
When an invocation fails, provide the ability to fallback to another invocation that may be more reliable not necessarily the full need.

[2017-05-05 02:00] johnament opened #5 "Create Bulkhead functionality"
The ability to create bulkheads or areas of surviving failures.

[2017-05-07 16:49] johnament opened #6 "Create baseline project structure"
Create base pom's based on whats in config.

[2017-05-08 15:57] Emily-Jiang commented on #6
I have this in the repo already.

[2017-05-08 15:57] Emily-Jiang commented on #6
dup of issue #1

[2017-05-10 13:16] #6 closed

[2017-05-16 22:32] #1 closed

[2017-05-17 16:42] Emily-Jiang opened #13 "Create timeout annotation"

[2017-05-18 09:40] jGauravGupta commented on #3
`failThresholdPercentage` should be introduced to activate circuit breaker based on failure percentage instead of failure count.
`long failThresholdPercentage() default 50;`
e.g if 50%+ (A%+) of requests in 10 (B) seconds are failures then open the circuit.

[2017-05-19 06:30] OndroMih opened #15 "Create interceptors for JAX-RS client"
Some functionality would be nice to have in JAX-RS client instances, since JAX-RS is already in MP.
They could be registered for:
 - individual client instances with `client.register()` method
 - globally via an SPI we would need to define - either with a default config, or via a name which could be set with client.setProperty("MICROPROFILE_NAME", "my-client-name")

This would be useful for circui

[2017-05-19 18:14] kenfinnigan commented on #15
Like the ideas around this, just not sure whether it should be separate.

If it's relying on functionality that will be delivered by FT proposal, then it either needs to be done as part of that or a follow on proposal that depends on it

[2017-05-19 21:16] Emily-Jiang commented on #15
Ondrej, we can discuss your suggestion in the next hangout.

[2017-05-23 21:39] Emily-Jiang opened #16 "Update the package name and reset the default value"
Update the package name to end with .inject. Reset the corresponding default value to sync up with Hystrix default values.

[2017-05-26 08:47] Emily-Jiang opened #17 "Service Mesh usage"
On Thursday, May 25, 2017 at 2:44:43 PM UTC-7, sst...@redhat.com wrote: Ok, I'm beginning to see the syntax. I feel there needs to be more of a description about the workflow a method is invoking, and this has only increased given the service mesh for micro services announcement by Google, IBM, and Lyft, with support from Red Hat and others:

https://istio.io/blog/istio-service-mesh-for-microservi

[2017-06-01 14:22] antoinesd opened #18 "Add ElementType.TYPE to annotations @Target"
Not having these prevents creation of CDI interceptors in implementations.

[2017-06-01 14:24] antoinesd opened #19 "MP config API coordinates are wrong"
Group id and Artifact id are not the lat one for config API.

[2017-06-01 14:58] Emily-Jiang commented on #18
Are we try to allow these annotations on the class level? Is this useful?

[2017-06-01 16:00] antoinesd commented on #18
Yes because if you want to declare a CDI interceptor you have to add these annotations as InterceptorBinding on the interceptor class. Missing `Type` in target prevent this.

[2017-06-02 08:48] #19 closed

[2017-06-02 10:46] #18 closed

[2017-06-02 13:39] #16 closed

[2017-06-02 13:52] Emily-Jiang commented on #4
Please have a look at the above commit a479883 to see whether this meets your expectation.

[2017-06-07 10:43] Emily-Jiang opened #27 "BulkHead"
Provide a way to configure the maximum number of threads accessing a resource.

[2017-06-08 20:48] kwsutter opened #29 "Need 3rd party clearance for dependencies"
Per the Initial Contribution Questionnaire process, we need to file Contribution Questionnaires for all of the 3rd party software that we are dependent on.
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12628

The Process is documented here:
https://www.eclipse.org/projects/handbook/#ip-third-party

I grepped the pom.xml files for this component and found the following dependencies... We will nee

[2017-06-11 18:07] johnament commented on #29
@kwsutter are you sure this is from fault tolerance?  we don't seem to have testng, geronimo or shrinkwrap

[2017-06-12 00:47] Emily-Jiang commented on #29
@johnament we use these jars for our tests. @kwsutter can you do a microprofile level Clarence?

[2017-06-13 14:02] mkouba commented on #13
I think the `TimeOut` annotation would be easier to read/use if you rename:
* the annotation to `Timeout`
* `TimeOut.timeOut()` to `TimeOut.value()`
* `TimeOut.timeOutUnit()` to `TimeOut.unit()`

E.g.
[code]

[2017-06-13 14:03] kenfinnigan commented on #13
+1

[2017-06-13 14:06] Emily-Jiang commented on #13
@mkouba sounds good. Please provide a PR.

[2017-06-13 14:13] mkouba commented on #4
The spec should be more clear on the lifecycle and requirements of a `FallbackHandler` implementation, i.e. a new instance of handler is created for each fallback invocation?

[2017-06-13 14:18] johnament commented on #4
I don't see the interface mentioned in the spec.

[2017-06-13 14:20] mkouba commented on #4
It's part of the API, see `org.eclipse.microprofile.fault.tolerance.inject.Fallback.handler()`. Not sure what the spec actually means in MP.

[2017-06-13 14:21] johnament commented on #4
Oh, I think I know what you mean.  Are you expecting that the handler is a CDI bean?

[2017-06-13 14:30] mkouba commented on #4
Well, I'm not expecting anythig... just saying that it's undefined ;-). The truth is that using POJO is a bit limiting and using CDI bean might be more powerful... but I have no idea how to define this. Hm, maybe `@Fallback` could be a qualifier and the first matching `FallbackHandler` bean could be used? I'm not sure.

[2017-06-13 16:44] Emily-Jiang commented on #4
@mkouba just to confirm: The fallback class should be unmanaged. A new instance should be created for each fallback. Will document this in the javadoc. The usage:
@Fallback(handler=MyFallback.class) or we could even simplify as
@Fallback(MayFallback.class)

In this way, it is much easier to implement and also I have not seen the use cases where need to inject the fallback and want the same instanc

[2017-06-13 17:08] johnament commented on #4
I would prefer to see these as CDI managed.  If there's no scope then they're not beans, but if they're `@Dependent` then a new one per invocation.

[2017-06-14 07:07] mkouba commented on #4
Well, I was thinking about something like this:
[code]
And the producer could inject other beans if needed.

The other problem of the current approach is type-safety - you can specify a handler class which is not usable.

[2017-06-14 08:56] Emily-Jiang commented on #4
The implementation must validate the fallback class to be a super class of FallbackHandler though, which is to solve the type-safety. In your approach, how can you cope with the scenario of two methods defined in MyService, both of which specify Fallback?

[2017-06-14 09:03] mkouba commented on #4
Is it defined anywhere? Also what if you specify `FallbackHandler<Long>` and the method would return `String`? Could be probably checked during bootstrap. The same applies to my approach. If more than one eligible beans exist (very easy check) -> a problem during bootstrap.

Each method receives its own handler instance (it's `@Dependent`).

[2017-06-14 09:18] Emily-Jiang opened #35 "Asynchronous handling"
In supporting of Asynchronous method invocation, there are a few options. We need to agree on which one is the best approach or add more ideas.

- Use the callback mechanism

 The method must declare the void return type, while the return value passed via the callback.
[code]
The result will be passed to MyCallback

- all return a Future: Enforce method to return Future<T> - easier approach for ca

[2017-06-14 11:03] Ladicek commented on #35
In a special case where the async method has no return value and there's no desire to wait for completion ("fire and forget"), `void` is obviously the best choice. But in general, I think async methods should just return `CompletableFuture`. It actually allows composing multiple async calls, which would be much clunkier with other approaches. The simplest implementations that don't call other asyn

[2017-06-14 11:11] Emily-Jiang commented on #4
You were right. I missed it in the javadoc.

What if the method have different return type?

[2017-06-14 11:33] mkouba commented on #4
Good point. You could just create multiple producers (would work due to type-safe resolution). But it's not really nice. Maybe we could replace `@FallbackFor(MyService.class)` with some string-based id, e.g. you would have to use something like `@Fallback("amount")` on both sides the "protected" method and the producer method... just throwing up ideas.

[2017-06-14 13:47] Emily-Jiang commented on #35
Thanks @Ladicek ! We will experiment what you have suggested.

[2017-06-14 13:53] Emily-Jiang commented on #4
ok. This is what I think with the current model:
[code]
The Fallback has the method signature to force the value to be type of FallbackHandler. As for the type argument, the implementation can validate it without much issues. In this way, it solves the type safety and it is very easy to be used.

[2017-06-14 14:47] antoinesd opened #36 "API should define exception"
API should define one or more exceptions for common error case (operation in timeout with defined fallback or circuit breaker for instance).

[2017-06-15 05:55] mkouba commented on #4
@Emily-Jiang I understand the current proposal. However, the fallback instance is not supposed to be a bean instance, or? So that you cannot inject anything in the fallback. In simple cases, this would fine. But a more powerful option may be useful.

There are many possibilities. We can for example say that a fallback producer methid name must be methodName + `Fallback`, e.g. in our case, we're lo

[2017-06-15 08:51] Emily-Jiang commented on #4
The fallback class is a bean class and it does support injection. We only want it to be unmanaged. This class should be treated similar as JavaEE component classes e.g. servlet class etc.

[2017-06-15 09:04] Emily-Jiang commented on #36
I was thinking the same recently and tried to prototype but have not raised an issue. I suggest to create a FaultToleranceRuntimeException and it should be thrown when max retries exceeded or circuit is open or timeout occurred. An PR to follow shortly.

[2017-06-15 09:11] Emily-Jiang opened #37 "change package name to org.eclipse.microprofile.faulttolerance"
Update the package name based on the mailing list [discussion ](https://groups.google.com/forum/#!topic/microprofile/3Pdk1gRlVnQ)

[2017-06-15 09:16] mkouba commented on #4
@Emily-Jiang Well, you're probably referencing to `The instance is unmanaged` in `Fallback.value()` javadoc. I don't think the wording is very clear. It should be probably something like:

instance created using the CDI SPI. The instance exists to service a single invocation only.

Plus we should also mention the validation (to ensure type-safety).

If we go this way then the only differences are

[2017-06-15 10:22] Emily-Jiang commented on #4
@mkouba thanks for your suggestions. I'll fix the javadoc as you suggested. I agree the two approaches are quite similar. In your solution, forcing to name the method as methodName + Fallback can be error-prone. In the current approach, the handler class can be used by multiple methods if their return type is the same.

[2017-06-15 16:38] Emily-Jiang commented on #35
Just report back. We tried to prototype the 2nd choice (mentioned in Antoine's notes as well) to force the method with @Asynchronous to return a Future using what @Ladicek 's suggestion of CompletableFuture. It does work. I think so far most people prefer this. The nice thing is "no api changes involved but just javadoc". I'll do a PR to spec this in the Async javadoc.

[2017-06-15 20:28] kwsutter commented on #29
With some minor updating of the arquillian-bom dependency version, then fault-tolerance should be ready to go...

[2017-06-23 13:44] antoinesd opened #40 "Introduce an annotation to configure default operation handler"
API should introduce an annotation to configure default (i.e non in fallback) operation handler.
This should be done for multiple reason:

* To provide same level of configuration for default operation than we have for fallback
* To allow user to create handler class having implementation specific feature
* Mark method for Fault Tolerance handling with default behaviour (default timeout, fallback,

[2017-06-23 14:41] Emily-Jiang commented on #40
@ExtendedOperation ? I really want to keep the name Fallback as it is well known.  We could even define fallback is the last one to be invoked. normal operation-> extended operation->if fails, fallback operation. This might introduce some complication. The _ExtendedOperation_ needs to define under what condition it will be called.

[2017-06-25 22:03] #37 closed

[2017-06-25 22:03] #36 closed

[2017-06-25 22:04] Emily-Jiang commented on #40
I've renamed the package names as we discussed last week. Feel free to put a PR.

[2017-06-25 22:05] Emily-Jiang commented on #35
Updated the Asynchronous javadoc.

[2017-06-25 22:29] Emily-Jiang opened #43 "Automatically configure the fault tolerance policy"
https://groups.google.com/forum/#!topic/microprofile/u4HkS-HqTIs has the full details on configuring the Fault Tolerance Policies.

[2017-06-25 22:31] Emily-Jiang commented on #43
https://groups.google.com/forum/#!topic/microprofile/u4HkS-HqTIs has the full details on configuring the Fault Tolerance Policies.

[2017-06-26 13:17] antoinesd commented on #40
Ok, I'm on it.
Regarding name and nature fo this annotation, we should really answer the question about having a  method without any FT annotation. I tend to think that such a method should be called in a classical way (no fault tolerance feature on it).
I see this annotation on the simplest way to activate fault tolerance on a method. Optionally you could provide a specific "handler" to manage th

[2017-06-28 14:50] kwsutter commented on #29
All associated CQs are now complete.  Will need to re-submit CQs for any updates to our dependencies (runtime or build/test).

[2017-06-28 14:50] #29 closed

[2017-07-01 13:05] Pscheidl opened #48 "Define events for Faults"
Whenever there is fault-tolerance error, an event should be fired.

- Client application can easily observe and process the failsafe data
- Hooks for other libraries/dashboard will be easier to create
- Hooks should be asynchronous - CDI 2. Blocking execution of business code in order to handle event observers is not acceptable.

Example with event fired thrown after an exception is thrown can be

[2017-07-02 02:25] johnament opened #49 "Avoid the use of ChronoUnit"
The usage of ChronoUnit has to do with specific dates and times.  Since we're dealing with operations, we should be using TimeUnit.

[2017-07-03 00:23] johnament opened #50 "TCK fails 'Unsatisfied dependencies'"
[code]

Looking at the JAR, it's not a valid bean archive (based on the SE spec portions at least).  It has no `beans.xml`.

[2017-07-03 02:22] johnament opened #51 "Fallbacks should fail deployment when return types don't match"
The following TCK assertion is bad

[code]

IMHO, we should fail deployment if the fallback handler doesn't match the return type of the method.  Not throw an illegal argument exception.

[2017-07-03 02:30] johnament commented on #27
This is a duplicate of #5

[2017-07-03 02:30] #27 closed

[2017-07-03 02:36] johnament opened #53 "Better instructions on how to run the TCK"
The instructions for running the TCK require a test suite.  YOu can actually do this entirely in maven config, which makes it much easier to run.

1. Add a dependency on the TCK
[code]

2. Add the maven coordinates to surefire plugin

[code]

Then the TCK can run in your build.

[2017-07-03 02:37] johnament opened #54 "Running the TCK - don't assume it's running on a server"
The TCK seems to assume it's running on a server somewhere.  In Hammock, I'm just using an embedded Weld/OWB container so there is no separate server runtime.  HOwever, the packaging assumes that nothing else goes into the WAR.  To work around this, I had to introduce an archive processor in Arquillian to add my classes.  Not sure if that's a good approach.

[2017-07-03 11:18] johnament commented on #51
I added a basic PAT check for proper fallback handling, and a ADV event to report these issues.
[code]

This IMHO seems like a better approach, since you shouldn't allow a deployment with a bad configuration.  @mkouba @antoinesd @Emily-Jiang I'm not sure how you feel about this?  When running with Weld (still need OWB tests) you get good output like this:

[code]

[2017-07-04 00:38] #50 closed

[2017-07-04 13:39] Emily-Jiang commented on #51
@johnament +1. Failing the deployment is better than throwing runtime exception.

[2017-07-04 13:42] #51 closed

[2017-07-04 22:34] Emily-Jiang commented on #53
@johnament can you update the running_the_tck.assiidoc in the tck subproject? thanks

[2017-07-04 22:42] Emily-Jiang commented on #48
@Pscheidl thanks for raising this issue! Can you take a look at the proposal in one of my [PRs](https://github.com/eclipse/microprofile-fault-tolerance/pull/22). It was not merged as there was a doubt on how useful an event is. Would the APIs in my PR is similar to what you have in mind?

I think: CircuitOpen, CircuitClose, TimeOut, MaxRetries reached all fire events. Do you have some examples on

[2017-07-05 14:21] Emily-Jiang commented on #49
ChronoUnit is similar to the TimeUnit and can easily converted to a Duration. ChronoUnit, part of Java8, will be the new popular thing.  In my view, we should use the new java.time package classes if possible.

[2017-07-06 02:39] johnament commented on #49
java.time is not designed for concurrency operations.  TimeUnit is from the concurrency package.  I'm confused by your claim "will be the new popular thing"

In addition, the Java 8 javadocs make this claim about chrono:

So I'm not convinced we want to use ChronoUnit in our APIs.  There's a bug open, and apparently conversion support between the two will be added in [JDK 9](https://bugs.openjdk.j

[2017-07-07 09:23] Emily-Jiang opened #58 "Provide a way to switch off FT policy except retry"
[Istio integration discussion](https://groups.google.com/forum/#!searchin/microprofile/Istio%7Csort:relevance/microprofile/O8qqDFCtsFo/oi1QdMHRBAAJ) lists a few options to support Istio integration.

If a microservice app is deployed to Istio, Istio would like to switch off MicroProfile FT feature except fallback. We need to provide a way to do so, e.g. a config property.

[2017-07-07 09:44] Emily-Jiang opened #59 "Istio Integration - overwrite Istio's retry and timeout"
[Istio Integration discussion](https://groups.google.com/forum/#!searchin/microprofile/Istio%7Csort:relevance/microprofile/O8qqDFCtsFo/oi1QdMHRBAAJ)

[Istio Timeout and Retry](https://istio.io/docs/concepts/traffic-management/rules-configuration.html#timeouts-and-retries)

When MP FT works with Istio, Timeout and Retry are two problematic area. At the moment, the most restrictive Timeout will be h

[2017-07-07 09:46] kenfinnigan commented on #59
Wouldn't it be better to go with Istio for retry and timeouts than disabling it?

MP FT should work with Istio and integrate with it rather than take over

[2017-07-07 10:10] Emily-Jiang commented on #59
There are two options: #58 is to let Istio take over. This one is let app take over.

[2017-07-07 10:34] johnament commented on #58
We should not be specifying integration to an existing 3rd party component.

[2017-07-07 10:57] Emily-Jiang commented on #58
We need to provide a way to switch off the FT feature like what CDI spec does. This is a really useful feature.

[2017-07-07 11:36] kenfinnigan commented on #58
Is it integration with Istio or just delegation to?

Personally I see this as the latter

[2017-07-07 11:37] kenfinnigan commented on #59
What would be the use case for letting the application take over something provided by Infrastructure and Ops?

I can see an application wanting to provide different configuration settings to Istio for retry and timeout, but not to "take over" handling of them.

[2017-07-09 22:19] Emily-Jiang commented on #49
John, thanks for the more info! As we plan to add some apis/spis in the future, it is natural fit to convert the ChronoUnit to Duration. I am thinking all of the current ChronoUnit will be converted to Duration in the apis/spis version. It is difficult to convert from TimeUnit to Duration. Thoughts?

[2017-07-12 08:54] antoinesd commented on #40
Sent a first proposal for this with #61

[2017-07-12 09:11] antoinesd opened #63 "Add a programmatic API (i.e. built-in CDI beans to launch FT operation) to the spec"
Right now, spec API is only driven thru annotation, it could bring some limitation since FT operation can only bound to a method.
User may like to launch different operations in the same method.
I'd like to introduce a built-in bean injected with `FaultToleranceController` interface allowing such usages.

[2017-07-12 09:42] Emily-Jiang commented on #63
We talked about this. I think considering the timing for gearing up for September release. It might be good to add this in the next release. We have a lot of tcks to write and spec to finish off.

[2017-07-12 11:01] tevans78 commented on #49
Most of the places where a length of time is required, it's not related to concurrency. e.g. a retry delay. From the user's perspective, adding @Timeout does not introduce any concurrency to their code (even if we are forced to implement it that way).

If the requirement is for a length of time, then java.time.Duration is the correct choice. The only reason we can't use Duration directly is becaus

[2017-07-12 13:54] #54 closed

[2017-07-12 22:08] Emily-Jiang commented on #40
Thanks @antoinesd ! Based on our discussion today, let's close this for now.

[2017-07-12 22:08] #40 closed

[2017-07-12 22:09] #13 closed

[2017-07-12 22:09] #35 closed

[2017-07-12 22:10] #3 closed

[2017-07-12 22:51] #2 closed

[2017-07-13 10:46] Emily-Jiang commented on #4
I was made aware of one more use case for the fallback.
Some developers might want put the fallback method on the same class as the origin method. e..g
public class myBean{
private String a;
public void callMyService(){

//use a;
}
priviate void myFallback() {
//use a;
}
}

In our current approach, we cannot do it. In order to achieve this, we need to add one more method on the fallback annotation

[2017-07-13 11:22] mkouba commented on #4
@Emily-Jiang That's the reason why I proposed a more powerful approach in https://github.com/eclipse/microprofile-fault-tolerance/issues/4#issuecomment-308636257. I'm not sure it's 100% feasible though.

It could work like this (consider the use case described in my comment):
1. first try to find a bean with `FallbackHandler<Long>` and qualifier `@Fallback("getAmount")`
2. then try to find a bean

[2017-07-13 12:37] Emily-Jiang commented on #4
@mkouba This approach still cannot deal with the scenario where I want to fallback to a method on the same instance as the original method. Am I misunderstanding you?

[2017-07-13 12:41] mkouba commented on #4
Well, you could define a producer method on the same bean class and if the bean scope is a normal scope "broader" than the fallback invocation (e.g. `@ApplicationScoped`) it should work.

[2017-07-13 12:50] Emily-Jiang commented on #4
I see. There are a lot of hoops to jump. If we directly define another method on Fallback. This should clearly easily solve the issue. See my PR as follows.

[2017-07-13 12:53] johnament commented on #4
I think we'd be mixing concerns having the fallback method on the actual impl.  Why can't this be on a separate class?

[2017-07-13 12:55] Emily-Jiang commented on #4
The reason is that the fallback method might want to share some instance variables as the origin method.

[2017-07-13 12:56] Emily-Jiang commented on #58
@kenfinnigan the latter.

[2017-07-13 12:58] johnament commented on #59
We spoke about these integrations on the call yesterday.  @kenfinnigan  want to get your opinion about what we came up with.

Instead of us trying to deal with istio, shouldn't istio try to implement the MP Fault Tolerance API as a part of its offering?  That seems more appropriate from an integration POV.

[2017-07-13 15:45] Emily-Jiang commented on #59
@kenfinnigan #48 provides a way for Istio to take over. In order to make MP FT working with Istio together, either MP FT retry/Timeout or Istio retry/timeout should be switched off. I do agree it should cover most of the cases. This is to provide a way to make App FT takeover. Do you think APP FT taking over is out of the question? I thought it can be useful under some special scenario such as an

[2017-07-13 15:50] kenfinnigan commented on #59
@johnament, where are the details of what was come up with? I don't think it's appropriate for Istio to implement an MP API, as it doesn't cover application code, it's purely infrastructure as @Emily-Jiang says.

@Emily-Jiang, I just wasn't sure whether it made sense to allow an Application to "take over" from Istio. If Istio is present and configured for an environment then surely Ops don't want

[2017-07-13 22:30] Emily-Jiang commented on #59
@kenfinnigan I do agree in most case, app's FT should be switched off via #58 . I thought if we provide a way to switch off Istio per request, it might be useful. It covers the use case of using app FT together with Istio's fault handling. Since Timeout and Retries are conflicting, using this feature will create a kind of ecosystem (the conflict only occurs in the restful calls not accessing datab

[2017-07-14 11:06] johnament commented on #58
I'm still whole heartedly against us specifying direct integration or behavior when used with any specific platform.

And this still seems to be an implementation specific problem.  I'm looking at istio (which is just 0.2) and it seems like it has no relevance for FT.  In addition, why are we saying that the behavior has to be off?

[2017-07-14 11:10] Emily-Jiang commented on #58
@johnament https://istio.io/docs/concepts/traffic-management/rules-configuration.html#timeouts-and-retries

[2017-07-15 13:55] johnament opened #71 "Define a FaultToleranceDefinitionException"
Or something along those lines.

Instead of directly relying on CDI's DeploymentException, we should have our own for definition errors and throw that if something isn't defined properly.

[2017-07-16 22:14] Emily-Jiang commented on #71
+1

[2017-07-17 08:56] Emily-Jiang opened #73 "Consider to use awaitibility"
John brought up our tck might benefit from [awaitibility](https://github.com/awaitility/awaitility).  Use this one to prototype and then refactor the current tck.

[2017-07-17 09:00] #53 closed

[2017-07-17 22:02] Emily-Jiang commented on #49
I plan to close this issue. Please comment if you feel otherwise.

[2017-07-18 08:28] kenfinnigan commented on #59
I'm not seeing the use case where a microservice would be deployed in an environment that includes Istio and the microservice wants to overrule how Istio works.

We need to be careful before we start offering ways to overtake or disable external integrations, especially at the infrastructure level

[2017-07-18 09:54] Emily-Jiang commented on #59
@kenfinnigan I understand your concern. In order to solve the conflicts of Timeout and Retry, we have a couple of ways:
1. disable Retry and Timeout in MP FT, which means all MP timeout and retries will be disabled (including the http requests and the ones that directly accessing database etc, which does not going through Istio).
2. Only target http requests that going through Istio. Disable eithe

[2017-07-18 09:59] Emily-Jiang opened #76 "Allow FT annotations on Final class?"
In CDI spec, final classes cannot be proxied. As a consequence, no interceptor bindings can be added to final classes. In MP FT, the annotations are efficiently interceptor bindings. Should we just document this limitation or try to figure out how to support MP FT on final classes?

[2017-07-18 10:12] kenfinnigan commented on #59
I confess to not having had time to look at Istio in detail, so I can't comment on what the best approach for use with Istio might be.

However, I will mention that we don't want specific Istio behavior in MP FT. If we did then we'd need to incorporate appropriate handling for alternatives to Istio. If we do this, it needs to be in a way that Istio can be told to query something to know whether to

[2017-07-18 10:41] Emily-Jiang commented on #59
@kenfinnigan agreed! I am thinking of an environment property to switch off MP FT etc #58. Istio can easily disable its FT capability. Yes, Istio is just one of the use cases. Our solution must not just limit to Istio and not tightly link to Istio.

This issue is just a fine-grained solution. If we think the fine-grained solution is not needed, just consider this issue as a way to potentially soci

[2017-07-18 13:13] hutchig commented on #59
Re "Ops can configure MP FT Retry and Timeout by setting the corresponding properties." do we want Annotations( parms ) to have an associated (but fixed?) ordinal? To enable override where not specified and override for all?

[2017-07-19 12:51] Emily-Jiang opened #78 "Mark all annotations explicitly interceptor bindings"
Mark all annotations as interceptor bindings so that stereotype can be used. This will also lead the end users to refer to interceptor behavior.

[2017-07-20 21:02] Emily-Jiang commented on #59
@hutchig +1. In more details, the default value can have ordinal say 100, @Retry, the default value in the annotation of maxRetries have the ordinal of 100. When specifying @Retry(maxRetries=4), the maxRetries will have ordinal of 200. These properties can be overridden by external config sources e.g. system properties, which having the default ordinal of 400.  If defining a config source with ord

[2017-07-21 08:29] #78 closed

[2017-07-21 08:41] hutchig commented on #59
Hi @Emily-Jiang, interesting...the difficulty in defining an ordinal 100 for the defaults (as opposed to just where values appear as parameters with ordinal 200 in the annotation) is that, because we do not expose the ordinal of a 'winning' ConfigSource from the ConfigService, the practical way (I can think of) to implement the scheme is to have a 'synthetic' ConfigSource, that the FaultTolerence

[2017-07-21 08:51] Emily-Jiang commented on #59
I don't see any value of making default value special (not having any ordinal). If someone define a config source with a ordinal of 150, it can override the default. Later on, he can freely change the ordinal to 50 so that the default value will not be overriden.

[2017-07-21 09:13] hutchig commented on #59
If you are happy having a FT ConfigSource with all the default parameters as method level properties in the implementation, or there is a better alternative way of implementing it - I will have a think, then it will work fine as you suggest, I am just chipping in from the implementation perspective.

[2017-07-21 09:21] hutchig commented on #59
The other implementation head-scratcher is differentiating a user specified parameter that is equal to the default from a non-specified default using the annotation APIs. (from @tevans78)

[2017-07-21 21:08] Emily-Jiang commented on #76
Clarified on the spec. The annotations complies with Interceptor Binding rule and it will not work on the Final classes.

[2017-07-21 21:08] #76 closed

[2017-07-27 10:24] Emily-Jiang commented on #49
I'm closing this based on our conversation. @johnament are you ok with it?

[2017-07-31 23:54] jclingan commented on #58
@johnament I know IBM and Red Hat are both interested in Istio, although not even all our customers will deploy to Istio. We should not force a solution on all of MP users to address this use case, but I think service meshes are going to become an increasingly popular use case for MP users over the next 12 months.

 If the FT team thinks it is too early and that we are prematurely optimizing for t

[2017-08-02 10:42] tevans78 opened #94 "Shouldn't use a colon in a configuration property key"
The current spec says that Fault Tolerance configuration is done via system properties with keys in the following format
[code]
Notice that it starts with `ft:` ... while that colon *might* be fine when specified on the command line, there's a good chance it will actually be stored in a java properties file, e.g. bootstrap.properties

In a java properties file, a colon is treated the same as an eq

[2017-08-02 10:54] tevans78 commented on #94
I tested out hash and dollar and they both work but hash throws off the syntax highlighting in my editor. I think dollar is better.

[2017-08-15 12:22] Emily-Jiang commented on #59
Since most traffic will go to Istio, there is little point to carry out the per request overwrite. close this issue for now.

[2017-08-15 12:22] #59 closed

[2017-08-15 15:33] #94 closed

[2017-08-15 15:34] Emily-Jiang commented on #58
Included this requirement to the spec.

[2017-08-15 15:34] #58 closed

[2017-08-15 15:35] #49 closed

[2017-08-15 15:35] #5 closed

[2017-08-15 15:35] #4 closed

[2017-08-15 15:36] Emily-Jiang commented on #43
Updated the spec.

[2017-08-15 15:36] #43 closed

[2017-08-17 14:49] Emily-Jiang opened #104 "Remove the namespace for configuring the FT parameters"
Remove the namespace ft$, based on the [thread ](https://groups.google.com/forum/#!topic/microprofile/30hr2ldFAYs)discussion

[2017-08-22 16:44] Emily-Jiang opened #107 "How to add a test while require an environment variable"
We need to add a tck to test the following statement:
Set the environment variable of `MP_Fault_Tolerance_NonFallback_Enabled` with the value of `false` means the Fault Tolerance is disabled, except `Fallback`. If the environment variable is absent or with the value of `true`, it means that MicroProfile Fault Tolerance is enabled if any annotations are specified.

How to set the environment variab

[2017-08-22 16:44] Emily-Jiang commented on #107
@johnament @antoinesd Please can you help out?

[2017-08-23 13:30] antoinesd opened #108 "Explore how we should integrate MP config spec"
Right now we don't use config spec while some elements in the spec are related to configuration (i.e. environment variable). We should check that we are not doing config spec job with those IMO.

[2017-08-23 13:31] antoinesd commented on #71
+1

[2017-08-23 14:34] Emily-Jiang commented on #108
https://groups.google.com/forum/#!topic/microprofile/30hr2ldFAYs

[2017-08-23 14:34] jGauravGupta opened #109 "Disable individual Fault Tolerance annotation using external config"
Based on the current state of Fault Tolerance configuration, It is not possible to disable specific annotation individually or globally.

Possible solution could be :

1. Introduce an enabled element with default value true in annotation to disable it using external config source.
e.g : `com.acme.test.MyClient/serviceA/CircuitBreaker/enabled=false`
2. The annotation can be disabled via system prop

[2017-08-23 14:39] jGauravGupta opened #110 "CompletionStage return type support in Asynchronous"
As mention in Asynchronous doc, The method annotated with Asynchronous must return a Future.
We should also consider to support `java.util.concurrent.CompletionStage`.

New Java EE 8 api like `javax.enterprise.event.Event.fireAsync(event)` in CDI 2.0 and JAX-RS 2.1 supports the `CompletionStage` return type.

[2017-08-23 15:15] Emily-Jiang opened #111 "Fallback should not be placed on class level"
Fallback annotation is to provide an fallback method for method invocation. It does not make sense to be on class level. There won't be a universal method for the whole class methods to fallback to.

[2017-08-23 21:27] Emily-Jiang commented on #109
We can support this in the future release. At the moment, there is no urgent use case.

[2017-08-23 21:28] #104 closed

[2017-08-24 22:54] #111 closed

[2017-08-27 22:29] Emily-Jiang opened #115 "Update all contributors details to the NOTICE file"

[2017-08-30 09:12] Emily-Jiang commented on #71
added in the api

[2017-08-30 09:12] #71 closed

[2017-08-30 13:44] Emily-Jiang commented on #107
not an issue any more.

[2017-08-30 13:44] #107 closed

[2017-08-31 08:52] Emily-Jiang commented on #110
I had a further thought on this. Since the current javadoc says it must return a Future. CompleteableFuture is a Future and it has a CompletionStage. It should be fine. what do you think @jGauravGupta ?

[2017-08-31 15:58] #108 closed

[2017-09-01 21:15] Emily-Jiang opened #121 "Update the bnd version and properly process package version"
Use the latest bnd with the correct versioning scheme

[2017-09-01 22:48] #121 closed

[2017-09-01 23:06] #115 closed

[2017-09-02 09:58] antoinesd opened #123 "Clarification on CDI and Interceptor spec restrictions"
We should state in the spec that interceptor binding should be apply on bean and will only be activated on business method invocations.
Clarification should also state that Fault Tolerance needs at least one interceptor binding on method or class to have FT enabled on the invocation

[2017-09-03 13:42] johnament opened #125 "MP_Fault_Tolerance_NonFallback_Enabled uses non-standard naming conventions"
`MP_Fault_Tolerance_NonFallback_Enabled` uses non-standard `_` separators.  It should be using `.` separators

[2017-09-03 13:44] johnament opened #126 "Bulkheads should only apply to components that can be accessed from multiple contexts"
The bulkhead section does not mention that bulkheads only apply to components that can be access from multiple contexts.  It should be impossible to apply a bulkhead to a `@RequestScoped` bean, for instance.

[2017-09-03 13:47] johnament opened #127 "Does configuration require the annotation to be present on a method?"
if a retry annotation is not present on a method, but I configure the method to have retry, etc configured, does that configuration still apply?

[2017-09-03 13:48] johnament commented on #109
It looks like we already added support for this in 1.0.  Should the milestone be set?

[2017-09-03 22:03] Emily-Jiang commented on #125
. is not allowed to be contained in an environment variable name. Since this name is very usable to be set as an environment variable, hence the name. I don't quite understand why you say non-standard _ separator. What standard do you refer to?

[2017-09-03 22:04] Emily-Jiang commented on #127
yes, you need to configure it using the name convention className/method/Annotation/annotation_parameter.

[2017-09-03 22:45] Emily-Jiang commented on #109
I updated this issue topic as it is kind of misleading. We do have support to disable all annotations except Fallback as this use case is required by Istio. What @jGauravGupta asks to disable individual annotation using separate configs. Since there is no definite use case as yet, we decide to defer to 1.1.

[2017-09-04 08:19] OndrejM commented on #35
Going through the API now (I'm sorry I didn't have any time to follow what's going on earlier), I see that the asynchronous API only supports returning `Future`. Although the examples all use `CompletableFuture` as a return value, processing the returned value is only possible as `Future`. Why doesn't the API also support `CompletionStage` return value, which would allow chaining asynchronous call

[2017-09-04 08:24] OndrejM commented on #110
I commented on [#35](https://github.com/eclipse/microprofile-fault-tolerance/issues/35#issuecomment-326897126) before I found this issue - I agree with @jGauravGupta, Async. should support `CompletionStage`. Supporting only `Future` feels very awkward and it's also blocking, there's no way around it.

We should aim for supporting `CompletionStage` in FT 1.1, and also define that the default execut

[2017-09-04 09:05] Emily-Jiang commented on #127
John, no annotation no FT. If a retry annotation is not presentation, any configuration on the method will be ignored.

[2017-09-04 10:07] jGauravGupta commented on #110
It's ok @Emily-Jiang , we can target for `CompletionStage` interface support in the next release FT 1.1 .

[2017-09-04 14:11] Emily-Jiang commented on #126
It is kind of no-op for RequestScoped bean. This may not be true in CDI-2.0 as the RequestScoped can be activated and we can do more for this bean. Therefore, I am kind of reluctance to add restriction here.

[2017-09-04 14:13] #123 closed

[2017-09-04 14:13] hutchig commented on #126
What would be the advantage of this extra check?

[2017-09-04 14:17] johnament commented on #127
Can you please propose adding this to the spec? Your two comments are contradictory, so its not clear which is right.

[2017-09-04 14:18] johnament commented on #125
Java properties are typically separated by `.` not `_`

I'm not sure what an environment variable has to do with this, since you're just asking your MP Config instance for the property value.  I know in GConfig we're translating `.` to `_` when looking for environment variables.

[2017-09-04 14:21] johnament commented on #126
@Emily-Jiang I'm not sure what this has to do with CDI 2.0.  Even when you activate request context, its once per thread.  You can't activate multiple request contexts on the same thread.

@hutchig the benefit is to help application developers understand why their bulkheads aren't working the way they expect.  If we clarify this behavior, they'll understand their bulkheads should be implicitly app

[2017-09-04 14:57] hutchig commented on #126
If we are clear that the bulkheads work per bean instance ('scope' as defined by CDI) then that is clear and applicable to all scopes. I think we should try to encapsulate the relationship between CDI scopes and threads in the CDI spec and not make further statements in the MP FT spec - even though many of the people involved overlap and are very knowledgeable about CDI.

[2017-09-04 15:10] Emily-Jiang commented on #125
I see what you meant. As for translating . to _, we did not define in Config API though. By the way, MP_Fault_Tolerance_NonFallback_Enabled is one property. I did not consider _ as separator. _ is a valid character to be used as part of system property. I think the confusion is that I did not mean _ as a separator but as part of the variable name.

[2017-09-04 15:54] Emily-Jiang commented on #127
sorry. My first response was misleading. When I said yes, it is yes to the issue question not the comment directly. I'll use this issue to clarify the spec.

[2017-09-04 16:23] Emily-Jiang commented on #110
agreed @jGauravGupta @OndrejM ! We can get this done in FT 1.1.

[2017-09-04 16:26] OndrejM opened #129 "Clarify usage of Timeout without asynchronous invocation"
Usage of `@Timeout` in synchronous mode isn't very clear from Javadocs and the spec - especially all the consequences.

The TCK tests in TimeoutTest expect that the implementation will interrupt the thread when timeout is reached. However, this isn't specified nowhere in Javadocs or PDF spec. Moreover, interrupting a thread only works in some scenarios. It doesn't work if:
 - the thread is blocked

[2017-09-04 16:30] OndrejM commented on #129
Ideally, the spec should clarify that the timeout for all I/O operations managed by the MicroProfile runtime should be adjusted according the value of the timeout. E.g. if the annotated method requests a REST resource via JAX-RS, the timeout for the GET operation should be always less or equal than the timeout on the method.

[2017-09-04 21:45] Emily-Jiang commented on #129
@OndrejM What you said is completely true. Would you like to submit a PR? If not, I will document this in Javadoc tomorrow.

[2017-09-05 01:52] johnament opened #131 "Is CircuitBreakerClientWithRetry.serviceC implicitly async?"
I'm looking at the definition of this class

[code]

IT seems like the addition of timeout makes this invocation asynchronous.  However, it's a request scoped bean which can't be async.

[2017-09-05 02:36] johnament commented on #129
The JAX-RS spec has no way to set timeout.  We can't make such a claim.

[2017-09-05 12:35] Emily-Jiang commented on #131
The Timout won't make it async. It is implementation details. One implementation is to use a different thread just to watch the time.

[2017-09-05 13:46] Emily-Jiang commented on #129
JAX-RS client can set timeout though.

[2017-09-06 12:18] jGauravGupta opened #133 "force open a circuit breaker at runtime"
**UseCase :**
In case of failure of service in production environment, Product team should be able to force open the circuit breaker at runtime using external config without the need for restarting the application.

**Force open :**
A new property circuitBreaker.forceOpen can be introduced, if true, forces the circuit breaker into an open (tripped) state in which it will reject/fallback all reques

[2017-09-06 13:16] Emily-Jiang commented on #133
We can discuss more after FT 1.0 release.

[2017-09-06 13:58] johnament commented on #131
Ok, I think I see the issue.

[2017-09-06 13:58] #131 closed

[2017-09-06 16:56] johnament commented on #129
Where?

[2017-09-07 22:33] #127 closed

[2017-09-07 22:35] Emily-Jiang commented on #126
I am kind of agree with @hutchig ! John, I was not clear on CDI-2.0. Anyway, I was on something else. Back to your question, it is ok to start a new thread in a RequestScoped bean though. Do you agree?

[2017-09-07 22:36] Emily-Jiang commented on #125
@johnament are you ok with my comments above?

[2017-09-07 22:46] Emily-Jiang commented on #129
In JAX-RS 2.0 spec 8.2.1. says A timeout value can be specified when suspending a connection to avoid waiting for a response indefinitely. This is server side. It is orthogonal to our spec as we are on the caller side. I looked at the JAX-RS client api to set timeout. There are some examples to set as a configuration.
ClientConfig configuration = new ClientConfig();
configuration.property(ClientPr

[2017-09-09 21:12] Emily-Jiang commented on #129
@OndrejM can you please review as I would like to create a final release on Monday?

[2017-09-10 17:05] johnament commented on #126
@hutchig I disagree.  We actually aimed in the CDI 2.0 release to decouple threading and context activation.

[2017-09-10 17:12] johnament opened #136 "Inconsistent usage of threshold and ratio"
In order to configure successes, you use a `successThreshold()` and `requestVolumeThreshold()` to specify how many requests need to be successful.

In order to configure failures, you use `failureRatio()` and `requestVolumeThreshold()`

Its assumed that the `successThreshold` is a count of successes, where as for failures you need to calculate this number.  As a user, this is confusing as in one c

[2017-09-10 21:36] Emily-Jiang commented on #126
Back to your original question, John. It is ok to start a new thread in a request scoped bean by annotate the RequestScoped bean with async. For instance, a requested scoped bean is injected to a servlet, the servlet can invoke the same RequestScoped bean method. It is ok for a different thread to do the work in the RequestScoped bean. There is nothing wrong even though there is no performance gai

[2017-09-10 21:37] Emily-Jiang commented on #136
In the next release, we can make them symmetric. I don't plan for any API changes at this stage.

[2017-09-10 21:38] Emily-Jiang commented on #125
I plan to close this tomorrow if you don't have any objections.

[2017-09-11 18:53] #126 closed

[2017-09-11 18:53] #129 closed

[2017-09-11 19:15] neilgsyoung opened #141 "Add a maxDuration to the Retry in CircuitbreakerRetryTest"
The Service that is called in testCircuitOpenWithMultiTimeouts will time out a number of times (one for each retry) before the Circuit is opened. We should add a maxDuration to the @Retry to ensure that all the timeouts will be completed before the circuit is opened.

[2017-09-11 19:40] hutchig opened #142 "Intermittent TCK failure of Bulkhead Retry tests dependant on host machine"
I wrote some Bulkhead + Retry tests that were appearing to run OK on my machine
but fail on a colleague's.  (For example testBulkheadMethodSynchronousRetry55 ).

On investigation it turned out that this was due to me not understanding the way that
default values for some of the Retry annotations parameters were working.

The problem  was @Retry's  maxDuration. I had assumed that if I did not set t

[2017-09-11 19:51] hutchig opened #143 "tck Bulkhead Tests For Simultaneous Workers Not Rugged Enough"
Some of the bulkhead tck tests check that there are (at least) more than one call to the bulkheaded method at one time.

Two of these were occasionally failing:
   testBulkheadQueReplacesDueToClassRetryFailures and
   testBulkheadQueReplacesDueToMethodRetryFailures
due to the check in TestData.java:
''' java
Assert.assertFalse(isMaxFill() && getExpectedMaxSimultaneousWorkers() > 1 && getMaxSimulta

[2017-09-11 19:53] hutchig commented on #143
I have made a change that should fix this problem in PR #139

[2017-09-11 21:47] Emily-Jiang commented on #141
thanks @neilgsyoung !

[2017-09-11 21:47] #141 closed

[2017-09-11 21:48] Emily-Jiang opened #144 "Increase the default maxDuaration to 5mins"
The current default value for Retry's maxDuration is 2seconds. According to some feedback from tests, it appears the value is too short. I suggest to increase it to be 5 mins. Thoughts?

[2017-09-12 06:47] jGauravGupta commented on #144
I guess, you mean to increase it to be 5 seconds not min.

[2017-09-12 09:37] Emily-Jiang commented on #144
I meant to be 5 mins, a longer time. I am fine with the current value if you all think it is good. @johnament @antoinesd what do you think? We need to finalise this today.

[2017-09-12 12:16] #143 closed

[2017-09-12 12:44] #142 closed

[2017-09-12 12:44] johnament commented on #144
If you're making a REST call, where the HTTP service has a 60 second timeout (pretty common), then I agree that 2 seconds is not long enough.  Most of the time, you want this wrapper for external API calls.

[2017-09-12 13:23] Emily-Jiang commented on #144
Thanks @johnament ! Let's use the common 60s as well then. Thank you @jGauravGupta for your comments! A pr to follow.

[2017-09-12 15:50] johnament commented on #144
This needs further review, I believe just blindly merged something without thinking about it.

In `@Timeout` we specify how long the operation should run for.  When you combine this with `@Retry` I would assume that the `@Timeout` is applied to each attempt, not a cumulative value.  Therefore, the value of max duration makes more sense to be maxRetries * timeout value.  If timeout is not set, then

[2017-09-12 16:07] Emily-Jiang commented on #144
maxRetries is the maximum time spent on the whole executions while time out is for per execution.

[2017-09-12 16:14] Emily-Jiang commented on #144
It was not blindly merged by the way. I asked you to review. You had a question and I answered. You did not request for a change. I got Kevin to double check the issue and discussions.  By the way, you can still comment and we can do another change if needed.

For your suggestion, unfortunately the default value is static. It's not a problem to set to a larger value, hence I suggested 5mins origin

[2017-09-12 16:29] johnament commented on #144
I disagree about the merge part.  I asked a question, because I wasn't sure if I was reading it correctly or not.  You answered the question and then merged the change.

[2017-09-12 17:41] Emily-Jiang commented on #144
I am sorry for my misunderstanding. I thought I did based on your comments. I got Kevin to review the changes. I should have waited instead of assuming it. I am so sorry. I did not close this issue and do plan to do any update if necessary. I'll send another PR shortly.

[2017-09-15 08:08] jGauravGupta opened #156 "ExecutionContext.getTarget()"
`org.eclipse.microprofile.faulttolerance.ExecutionContext` interface can also introduce `public Object getTarget()` method to access the target instance being executed.

[2017-09-15 14:04] Emily-Jiang commented on #156
sound good.

[2017-09-15 14:05] #144 closed

[2017-09-18 02:53] johnament opened #157 "RetryTimeoutTest seems to contradict spec"
`RetryTimeoutTest` seems to contradict the [retry.adoc](https://github.com/eclipse/microprofile-fault-tolerance/blob/master/spec/src/main/asciidoc/retry.asciidoc) spec.  Specifically, it indicates that the `TimeoutException` is what triggers the retry.  However, the comments in the test indicate that a `TimeoutException` is expected.

If a `TimeoutException` is expected, that can only mean that up

[2017-09-18 03:03] johnament opened #158 "CircuitBreakerRetryTest.testCircuitOpenWithMultiTimeouts asserts against wrong counter"
The test `CircuitBreakerRetryTest.testCircuitOpenWithMultiTimeouts` asserts against the wrong counter in the try block

[code]

This should be `ServiceC` like the other assertions, rather than `ServiceA`

[2017-09-18 03:14] johnament opened #159 "CircuitBreakerClientWithRetry has confusing retryOn values"
This retry on does make much sense: `@Retry(retryOn = {RuntimeException.class, TimeoutException.class}, maxRetries = 7, maxDuration = 20000)`

`TimeoutException` extends from `RuntimeException`, and the spec seems to indicate we always have to treat `TimeoutException` as a retry so this seems contradictory

[2017-09-18 15:30] neilgsyoung commented on #158
Thanks John, you're right,  I'll fix it.

[2017-09-19 12:55] Emily-Jiang commented on #159
That is not what the spec tries to mandate. The spec just says one example. We can reword the spec to clarify the ambiguity.

[2017-09-19 13:17] Emily-Jiang commented on #157
The TimeoutException will trigger retry if it meets the retryOn condition. After the maximum retries were performed, the exception will pass back to the client. I'll improve the spec to clarify this.

[2017-09-28 08:47] McFoggy opened #165 "tck on a jee container fail with NPE"
While implementing FT as a standard JEE CDI extension, I am facing issues running the TCK.
Given the attached simple demo project (tck+arquillian+wildfly), running `mvn test` ends with:

[code]

Not being an expert of [testng](http://testng.org), I have read on [SO](https://stackoverflow.com/questions/10230710/beforeclass-annotations-invoking-methods-twice-when-using-arquillian-on-remote#answer-17

[2017-09-28 14:26] hutchig commented on #165
All the @Inject variables in the test are null so it is injection that is not working (as you allude to) from looking at https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/RetryTest.java  at the line numbers above. We run this test (without edits) in Liberty. There is a ' .addAsManifestResource(EmptyAsset.INSTANCE, "be

[2017-09-28 14:42] hutchig commented on #165
It may be that CDI (Weld) is putting out messages on why it cannot inject an instance of the bean classes used in the test. Without a bean, there is nothing to for the FT interceptors to intercept. The war is built the same for different environments so perhaps it is something to do with the deploy or container - and there might be some messages from Wildfly?

[2017-09-28 15:49] McFoggy commented on #165
@hutchig for me this is not a CDI issue. The errors are coming from the client part in which CDI should not be involved.
In arquillian tests, when junit is used and that the arquillian test is not "client side", then the test is fully run "on the container".
Here the problem is that _testng/arquillian_ is trying to execute "client side" some code that **MUST** run on the container.

[2017-09-28 15:59] McFoggy commented on #165
Also notice that using #166, the exact same project can run the tck on wildfly.
So there is really something related to testng/arquillian that goes wrong and that lead to the above failures.

[2017-09-28 16:02] McFoggy commented on #165
this is also why I proposed to open a kind of extension point in arquillian tck tests, see #166 beb2cab1a10cca86294d1a8d371a8098d374cd5e

[2017-09-28 21:10] Emily-Jiang commented on #165
@McFoggy MicroProfile spec TCKs all use Aquillian framework. I think @starksm64 has got the jwt tck or config tck running successfully against wildfly. Can you get in touch with him and borrow some ideas? I don't think FT should be the odd one out, not following the MP tck framework. Also Weld team has expertise to run Aquillian tcks.

[2017-09-28 21:52] McFoggy commented on #165
@Emily-Jiang thanks I'll contact him to understand what is failing with this testng/arquillian/wildfly combo while everything goes well with junit/arquillian/wildfly.

Can you please also give your thoughts on opening the tck for some extension mechanisms allowing to include "implementation/additions" to run the tck (see beb2cab1a10cca86294d1a8d371a8098d374cd5e).
Such an extension mechanism would

[2017-09-29 06:37] hutchig commented on #165
I left comments on #166

[2017-10-04 13:06] heiko-braun opened #170 "Fix contributor list in specification document"
The repo has 12 contributors, but the spec only lists a single one. I think it would be good simply change the spec to say "The microprofile community and it's contributors"

[2017-10-04 19:43] McFoggy commented on #165
@Emily-Jiang still I did not get any answer from @starksm64 until now but I looked at the repos he contributed to and I found [wildfly-extras/wildfly-microprofile-config](https://github.com/wildfly-extras/wildfly-microprofile-config).
Were you refering to that project for the tck tests run under wildfly?
If so then it looks like in fact the arquillian tests are run against openwebbeans (see https:

[2017-10-05 01:21] johnament commented on #165
@McFoggy I think your issues are wildfly swarm related only.  We all use archive appenders to manipulate the WAR file.I'm not sure you can do that in Swarm.

[2017-10-05 06:07] McFoggy commented on #165
@johnament I do not use swarm., I just tried to run the tck using a wildfly standalone installation via arquillian.

If I was not clear, it is perfectly running if I use the junit version from #166. But using the standard provided tck with testng it fails.

[2017-10-08 16:13] johnament opened #172 "Is MP_Fault_Tolerance_NonFallback_Enabled intended to be dynamic or static?"
MP Config indicates that configuration values are evaluated on each execution, its up to the underlying config source whether or not the value is dynamic or static.

For a property like `MP_Fault_Tolerance_NonFallback_Enabled` it's not clear if this should be evaluated on bootstrap or when evaluating the actual execution.  The test seems to prefer on bootstrap, by using a static property.  Is that

[2017-10-08 17:04] johnament opened #173 "How to differentiate config for same method name"
Given I have the following API signature:

[code]

How would I differentiate the config for these two methods?  Both seem like they would point to the same properties, and when you configure one via properties the other automatically gets those same properties set.

[2017-10-08 17:19] johnament commented on #165
Hmm I suspect we need the Dr's of Arquillian to give some input, your pom configuration looks off (would be better if you could point to a repo for this rather than a download) but I'm not too familiar with universe to really weigh in.

FWIW, I've been able to get Geronimo Config testing against wildfly, and it works with some tweaks.

@bartoszmajsak or @lordofthejars ?

[2017-10-08 20:02] johnament opened #174 "Wrong exceptions used in TCK"
In the various javadocs for fault tolerance, configuration issues are defined by `FaultToleranceDefinitionException`.  However, the TCK in multiple places expects `javax.enterprise.inject.spi.DefinitionException` to be thrown.

The two exceptions are not compatible with one another, the fault tolerance exception does not extend the CDI one.

Either, `FaultToleranceDefinitionException` extends `Def

[2017-10-08 21:34] Emily-Jiang commented on #172
As per the spec,
In order to prevent from any unexpected behaviours, the property
MP_Fault_Tolerance_NonFallback_Enabled will only be read on application starting. Any dynamic
changes afterwards will be ignored until the application restarting.

[2017-10-08 21:37] Emily-Jiang commented on #173
It was viewed the overloading method would use the same configuration as the effort of decaffeinating them will make the configuration unreadable. The workaround is to use a different method name if different configuration is needed.

[2017-10-08 21:40] Emily-Jiang commented on #170
Can do. My understanding of the spec is for the major spec contribution. Please see the MicroProfile Config and overall MP 1.1/1.2 spec doc. It only lists a few people. I can change the spec to just say MicroProfile Community and its contributors.

[2017-10-08 21:43] Emily-Jiang commented on #174
will update TCK to fine tune this. Since the implementation is to use CDI, All validation exception will eventually wrap under `javax.enterprise.inject.spi.DefinitionException.`

[2017-10-08 21:45] Emily-Jiang commented on #165
I talked with @starksm64 at JavaOne and asked him in person to help you out @McFoggy. He will be in touch to help you.

[2017-10-08 22:52] johnament commented on #174
I just took a look at how Weld is using `DefinitionException`, under no situation is it being thrown as a part of a deployment validation problem, so I believe the only valid outcome is to look for `DeploymentException`.  You can see how we're doing this properly in the config project - [MissingValueOnInstanceInjectionTest.java#L40](https://github.com/eclipse/microprofile-config/blob/master/tck/sr

[2017-10-09 07:45] McFoggy commented on #165
@johnament @Emily-Jiang @starksm64 I finally got it running by moving to latest version of arquillian universe [McFoggy/mpft-jee-tck#60c4bc33cd2ba584f9db80a0b423fd60c1921f6f](https://github.com/McFoggy/mpft-jee-tck/commit/60c4bc33cd2ba584f9db80a0b423fd60c1921f6f)

Thus by using [McFoggy/mpft-jee-tck](https://github.com/McFoggy/mpft-jee-tck) and running `mvn integration-test -Dit.test=RetryTest`, w

[2017-10-09 07:45] #165 closed

[2017-10-09 10:42] Emily-Jiang commented on #165
Great news! Thanks for the update @McFoggy !

[2017-10-11 12:50] Emily-Jiang commented on #157
I think #176 should clarify this.

[2017-10-11 12:50] Emily-Jiang commented on #157
Please let me know if you think otherwise.

[2017-10-12 20:12] McFoggy commented on #49
Even if the issue is closed, I'd like to raise my voice to say that I agree with @johnament ; TimeUnit looks better suited than ChronoUnit here.
Unless I have totally missed the usage of ChronoUnit, one need some instance of Temporal, meaning the creation of probably java.time.Instant and java.time.Clock.
Aren't the java.util.concurrent.TimeUnit enums answering the need in by far more efficient wa

[2017-10-13 09:09] Emily-Jiang commented on #49
What you should do is the following.

`long millis = Duration.of(t.value(), t.unit()).toMillis();`

[2017-10-13 17:17] McFoggy commented on #49
Thanks for the hint.

[2017-10-16 21:42] #157 closed

[2017-10-16 21:43] #159 closed

[2017-10-25 08:47] Pandrex247 opened #177 "Fallback Spec Inconsistency"
The specification document for the Fallback annotation (https://github.com/eclipse/microprofile-fault-tolerance/blob/master/spec/src/main/asciidoc/fallback.asciidoc) states that the annotation can be applied to a method or a class. The annotation however only has a target value type of _Method_, the option to have it put on a class being removed in https://github.com/eclipse/microprofile-fault-tol

[2017-10-26 22:05] Emily-Jiang commented on #177
@Pandrex247 thanks for reporting this. Yes, the spec was not updated to reflect the change. Please submit a PR.

[2017-10-27 13:22] #177 closed

[2017-10-27 20:14] johnament opened #179 "Most Bulkhead tests use invalid CDI beans"
Most of the bulkhead tests are using invalid CDI beans.  Here are some examples:

- [Bulkhead55ClassAsynchronousRetry1Bean](https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/bulkhead/clientserver/Bulkhead55ClassAsynchronousRetry1Bean.java)
- [BulkheadMethodAsynchronousDefaultBean](https://github.com/eclipse/microprofi

[2017-10-27 22:05] johnament opened #180 "Unclear on behavior of iteration count"
I'm trying to debug my way through this test -> [BulkheadAsynchRetryTest.java#L165](https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/bulkhead/BulkheadAsynchRetryTest.java#L165)

What strikes me is that it launches 1000 iterations, seemingly for unknown reasons, to verify that a `BulkheadException` is thrown.

I don't

[2017-10-28 11:52] johnament opened #181 "What attributes are meant to be configurable?"
The spec leaves this ambiguous, and since the TCK makes most of the assertions it's not clear what is correct.

The TCK only checks for these properties:

[code]
Based on this, I can only assume that only `maxRetries`  and `maxDuration` are configurable.

[2017-10-28 11:58] johnament opened #182 "Add more configuration based TCK tests"
The following behaviors are not tested:

- Having a property set for both the method and the class
- Having a property set in a global fashion that overrides the other class/method annotations
- Property configuration for global
- Bulkhead configuration
- CircuitBreaker configuration
- Timeout configuration
- Exception class conversion (should this be moved to the config spec?)
- TimeUnit conversi

[2017-10-28 12:17] johnament opened #183 "Clarify whether method uses declaring class or current class"
Suppose I have the following:

[code]

Given that these are all fault tolerant methods, and I'm using instances of `ServiceB` and `ServiceC`, what configuration should be used for the method `doIt` in these cases?  Do I use `ServiceA` as the configuration key or the actual impls?

[2017-10-28 22:17] Emily-Jiang commented on #181
You were right that TCK did not cover all of them. All of the attributes are configurable. Feel free to submit a PR.

[2017-10-28 22:21] Emily-Jiang commented on #183
For ServiceB instance, doIt() is from serviceA, which has retry.. For ServiceC instance, doIt is from ServiceC, which has no retry.

[2017-10-28 22:22] Emily-Jiang commented on #182
Thanks for reporting this @johnament ! Feel free to submit PR if you get to it first.

[2017-10-28 22:45] johnament commented on #181
Unfortunately, it's more complicated than that.

How does one configure a `ChronoUnit`?  The spec mentions `100ms`, which implies the amount and unit are configured as one value.  However they're two values.  Assuming we are configuring the unit separately, do we use the `name` attribute or the actual object?

Likewise, for exceptions to consider, is it a fully qualified class name? or a short nam

[2017-10-29 01:43] starksm64 opened #184 "CircuitBreakerTest#testCircuitClosedThenOpen should have a configurable delay period"
When looking at the circuit breaker related TCK tests, I'm seeing that the CircuitBreakerTest#testCircuitClosedThenOpen runs in a tight loop and expects that the state of the circuit follows in a synchronous fashion.

This prevents use of a statistical type of circuit breaker implementation like HystrixCircuitBreakerImpl, which monitors the various invocation stats in a background thread with a pe

[2017-10-30 09:09] OndrejM opened #185 "Clarify usage of Timeout with Asynchronous and cover it by tests"
The specification mentions that `@Timeout` can be used with `@Asynchronous`, but doesn't explain how it should behave and it's also not covered by tests.

I propose that if both are used and timeout happens, the specification should mandate that the future is canceled at the time the execution takes longer than timeout, not after execution is finished. It would also mean that probably a background

[2017-10-30 10:12] hutchig commented on #180
I wrote this test and will have a look. Apologies if it is causing a problem.

[2017-10-30 10:31] hutchig commented on #180
1000  is just a number that is obviously 'too many' for the bulkhead * the retries.
So we have a loop attempting to firing 1000 things into an asych bulkhead of size 5 and waitingTaskQue 5 and maxRetries of 10.
[code]
The queue will fill up and throw a bulkhead exception, this will be retried 10 times, to again fail, rinse and repeat until the bulkhead exception percolates back to the client on 'R

[2017-10-30 10:43] hutchig commented on #180
So to be clear, the client bulkhead exception will occur on the 11th time (maxRetries+1) that a task is resubmitted while both the bulkhead and queue are full - note that quite a few tasks will be able to get into the queue on the 2nd, 3rd,,,10th. attempt and once there will not get a bulkhead exception. How many this is depends on how fast the tasks get created (which varies by machine a little)

[2017-10-30 10:45] johnament commented on #180
@hutchig  you're the first to say the test is incorrect, I did not say that.  My point is that the test is unclear in what it's trying to verify, and there is no corresponding spec for this behavior.  Likewise, since bulkheads are meant for concurrent access, using a single thread to generate load need not necessarily work.

[2017-10-30 10:55] hutchig commented on #180
Well the test is called
  testBulkheadMethodAsynchronous55RetryOverload
A bulkhead test, with method annotation, for an asynchronous bulkhead,
55 is the size of the bulkhead (5) and queue (5) and it is trying to verify retry
overload!

I know the comment is short at
   * Tests overloading the Retries by firing lots of work at a full Method bulkhead
but you are welcome to improve it :-) .

I had yo

[2017-10-30 11:23] johnament commented on #180
We had faced a similar concern with the JWT spec earlier, @starksm64 had introduced an SPI that would allow you to parse a JWT per impl.  It was ultimately deemed unneeded.  Maybe that approach would have worked here, to be able to give out a `Scheduler` or an `ExecutorService` to be able to generate threads.

Also, please note that the actual FT impl is Apache Safeguard.  I plan to get tests work

[2017-10-30 13:43] Emily-Jiang commented on #185
Ondrej,

The spec has the following `[claim ](http://microprofile.io/project/eclipse/microprofile-fault-tolerance/spec/src/main/asciidoc/timeout.asciidoc)`

When @Timeout is used without @Asynchronous, the current thread will be interrupted with a call to Thread.interrupt() on reaching the specified timeout duration. The interruption will only work in certain scenarios. The interruption will not w

[2017-10-30 13:51] Emily-Jiang commented on #184
Scott, the delay in the CircuitBreaker annotation is to confirm the delay to check the circuit status. You can configure it. Do you mean the tests should have set a longer delay period? At the moment, the delay is 5s to check the circuit status after it is open.

[2017-10-30 13:52] Emily-Jiang commented on #179
John, feel free to improve the tests with a scope so that the tests can run on both EE and SE environment.

[2017-11-01 13:58] Emily-Jiang opened #186 "The priority for the interceptors of FT"
FT introduced a number of interceptor bindings. We should spec that the interceptors should be the first interceptors to be invoked, which means having the lowest priority. Thoughts?

[2017-11-06 10:05] t1 opened #187 "Support `@Stereotype`"
The FT spec doesn't mention [Stereotypes](http://docs.jboss.org/cdi/learn/userguide/CDI-user-guide.html#stereotypes), so there is no test in the TCK and implementations don't have to support it.

It would be useful to, e.g., define a `@Stereotype`-annotation `@Gateway` with the complete default FT handling and use it for all gateway classes.

As a fallback it should at least be explicitly document

[2017-11-07 09:43] Pandrex247 commented on #186
I'd say the `Asynchronous` interceptor should be invoked either first or last, as to me it makes sense for the other interceptors (bulkhead etc.) to happen on the same thread - either the invoking thread, or the asynchronous one. My preference would be for first, as then the exception handling for any fault tolerance exceptions is pushed to the user as part of their `Future.get()` (in which they'r

[2017-11-07 10:08] McFoggy opened #188 "Clarification on CircuitBreaker failureRatio & requestVolumeThreshold"
By implementing the spec in a [portable JEE7 compliant way](https://github.com/McFoggy/portable-mpft-jee) I am puzzling with some CircuitBreaker tests & CircuitBreaker javadoc.

The javadoc looks quite clear to me, I read it like the following:
- _requestVolumeThreshold_: the size of a window of consecutive calls to take into account
- _failureRatio_: a percentage of failures within a window that

[2017-11-07 10:36] McFoggy commented on #136
as expressed in #188 for me it is the expectations of the TCK tests that are wrong.

Currently I interpret `1.0` as:
- the change from `SEMI_OPEN` to `CLOSE` depends on `successThreshold()` consecutive success calls
- a change to `OPEN` depends on a `failureRatio()` failures over a window call of `requestVolumeThreshold()`

but I might be wrong in my reading of the API/specs.

Nevertheless, it can

[2017-11-07 11:00] Emily-Jiang commented on #136
@McFoggy your interpretation was correct. will work on this issue shortly.

[2017-11-07 12:07] McFoggy commented on #188
Also the interpretation of `requestVolumeThreshold()` has to be clarified.

Do we have (1) to wait for a minimum amount of `requestVolumeThreshold()` calls before starting evaluating circuit state, or (2) shall we do our best to fail asap.

- If it is (1), then the beginning of [CircuitBreakerTest#testCircuitDefaultSuccessThreshold](https://github.com/eclipse/microprofile-fault-tolerance/blob/1.0/

[2017-11-07 12:23] McFoggy commented on #183
And if we have
[code]

Which configuration of `@Retry` has to be used when method `doIt()` is called on an instance of ServiceD?
1. the one from ServiceD class
2. or the one from original method ServiceA

I would hope (1) is expected, is that right?

[2017-11-07 15:10] smillidge opened #189 "Asynchronous Enhancement - String property to indicate thread pool"
As an enhancement request can we add an opaque string property to Asynchronous which can be used to indicate to an implementation which thread factory, thread pool/Managed Executor or whatever to use to get a thread?

From a spec point of view an implementation could be free to ignore the property or use it to segregate requests. This can be important when tuning large throughput systems

[2017-11-07 15:19] Emily-Jiang commented on #189
Steve, do you mean the application developer mandates the runtime which way to create a thread? I guess I don't quite get what you meant. Does the developer needs to know which way to get the thread? If the implementation is free to ignore this info, what is the use of the property?

[2017-11-07 18:12] McFoggy commented on #183
Sure, I will.

[2017-11-07 18:46] smillidge commented on #189
Something like;
[code]
That way depending on the capabilities of the Microprofile runtime the developer could configure a specific thread pool with the name "service-pool". For example in Payara Server they could create a Thread Pool and all Asynch threads for the method foo would execute on that thread pool.

If the same application was then deployed onto a runtime that does not support configura

[2017-11-08 10:46] McFoggy opened #190 "make code style compliant with defined rules"
today by editing code in Intellij, `.editorconfig` is used.
Especially the following rules:
[code]
are not respected by the current code base.

This makes any code change a mess not to pollute the commit with unrelated spaces changes.

There should be an alignement between the different "code style checks" provided with the project, either:
- checkstyle is adapted to respect the rules and rules ar

[2017-11-08 13:58] Emily-Jiang commented on #188
The expectation is "wait for a minimum amount of requestVolumeThreshold() calls before starting evaluating circuit state". I will clarify this in the spec.

[2017-11-14 12:24] mkouba opened #194 "TCK is missing tests for standalone Asynchronous"
See also https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/AsynchronousInvocation.java

The TCK also misses a test that `FaultToleranceDefinitionException` is thrown if a method annotated with `@Asynchronous` does not return `Future`.

[2017-11-14 12:53] johnament commented on #194
Is it supposed to be a constraint?  I honestly had no idea.

[2017-11-14 13:02] antoinesd commented on #194
In section 4.1, the spec states:

So it looks like a constraint.

[2017-11-14 13:19] johnament commented on #194
But I can also apply `@Asynchronous` to a class.  I can also add `@Bulkhead` to the mix and then what's expected?

[2017-11-14 13:20] mkouba commented on #194
I would guess `@Asynchronous` declared on a class => all methods must return `Future`.

[2017-11-14 13:23] antoinesd commented on #194
+1

[2017-11-14 13:33] Emily-Jiang commented on #194
yes @mkouba !

[2017-11-14 13:42] Emily-Jiang commented on #174
@johnament On the call, we agreed the current tests are ok and the DefinitionException is the right. I'm going to close this one. Please let me know if you have any objections.

[2017-11-14 13:42] Emily-Jiang commented on #194
please feel free to do a PR to add tests @mkouba !

[2017-11-14 13:59] Emily-Jiang commented on #180
In JavaEE environment, the app server will supply executor themselves so that some of the contexts can be propagated. You are free to choose in JavaSE but the api does not need to know anything about this.

[2017-11-14 15:36] #188 closed

[2017-11-14 15:50] Emily-Jiang commented on #158
This has been fixed. close this issue.

[2017-11-14 15:50] #158 closed

[2017-11-14 16:24] Emily-Jiang commented on #173
@johnament please see my comments above. Are you ok for this issue to be closed? I'll close it tomorrow if no objections.

[2017-11-14 16:29] Emily-Jiang commented on #181
ChronoUnit is to configure whether ChronoUnit.MILLIS or ChronoUnit.HOURS etc. What 100ms do you mean? These will have two fields joined together. If the delay is 100ms, you configure delay with 100 and delayUnit with ChronUnit.MILLIS.

[2017-11-14 16:33] johnament commented on #181
https://github.com/eclipse/microprofile-fault-tolerance/blame/0e563940ded43911941e0aa6c83582ce10615ee6/spec/src/main/asciidoc/configuration.asciidoc#L60 mentions `100ms` explicitly as configurable.

[2017-11-14 16:35] johnament commented on #181
Can you give an example of what this configuration looks like in MP Config, as you understand it?  E.g. what does the properties file look like?

[2017-11-14 17:41] Emily-Jiang commented on #183
@McFoggy @johnament please read my PR to see whether it is clearer.

[2017-11-14 17:57] johnament commented on #183
@Emily-Jiang if you assign reviewers to a PR it'll show up in inboxes.  Which PR are you referring to?

[2017-11-14 23:16] Emily-Jiang commented on #181
[code]
In order to config this timeout to 300ms
set two config properties;
com.acme.ft.MyTimeout/doSomething/Timeout/value=300
com.acme.ft.MyTimeout/doSomething/Timeout/unit=ChronoUnit.MILLIS

[2017-11-15 14:24] mkouba opened #196 "TCK assumes a circuit breaker transitions to a new state when a fault tolerance operation completes"
This assumption prevents from leveraging libraries such as Hystrix. For example in Hystrix a circuit breaker could transition from CLOSED to OPEN state only when a new "health snaphot" is taken (error percentages are calculated, see also [1]) and the state is set _asynchronously_ with respect to the thread invoking a fault tolerance operation.

Therefore, there should be a **configurable property*

[2017-11-15 19:52] smillidge commented on #174
The test should actually just catch Exception. We run our tests with a remote Arquillian Server profile and these tests assume an embedded profile.

[2017-11-15 19:53] smillidge commented on #174
@johnament the config tests have the same problem they assume an embedded profile.

[2017-11-17 09:00] McFoggy commented on #183
@johnament I guess it is #195 which relates to this issue

[2017-11-18 08:41] mkouba commented on #196
This issue duplicates https://github.com/eclipse/microprofile-fault-tolerance/issues/184

[2017-11-20 10:25] Emily-Jiang commented on #196
@mkouba can you do a PR to demonstrate how you think about improving the tck? thanks

[2017-11-21 11:29] neilgsyoung opened #197 "Circuit Breaker Rolling failure window behaviour: follow up to issue #188"
We need to clarify the behaviour of Circuit Breakers as discussed in issue #188. I think that the original  [CircuitBreaker#testCircuitDefaultSuccessThreshold](https://github.com/eclipse/microprofile-fault-tolerance/blob/1.0/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/CircuitBreakerTest.java) test was working as designed but that we need some clearer words in the Spec to explain

[2017-11-21 14:51] McFoggy opened #198 "submitted tasks are not drained in tests expecting a failure"
in bulkhead tests using `Utils#loop()` and expecting an Exception to be thrown, the submitted Future tasks are not drained at the end of the loop. They are drained only in case of success.

When using in your implementation a single threadpool for asynchronous bulkhead operations this make later tests to start with a threadpool that is possibly already filled making the later test to fail.

[2017-11-21 15:05] McFoggy opened #200 "allow tests using arquillian @ShouldThrowException to be processed by an ArchiveProcessor"
due to https://issues.jboss.org/browse/ARQ-2143 tests using `@ShouldThrowException` are not processed by an ArchiveProcessor that the _implementor/implementation_ would have registered.
This makes implementations based on an enhancement of the test deployable (the test war) to not be added to the deployable under test ; making for sure the test to fail because of the absence of the implementation.

[2017-11-22 13:43] #198 closed

[2017-11-25 15:55] t1 commented on #187
@dblevins: I know you're a great supporter for [meta-types](https://github.com/dblevins/metatypes). Don't you think requiring support for Stereotypes would be a good addition to fault-tolerance annotations? I'd like to have some support before I start to dig into this issue.

[2017-11-27 17:22] Emily-Jiang commented on #185
close this one as tck and spec are updated.

[2017-11-27 17:22] #185 closed

[2017-11-27 17:25] Emily-Jiang commented on #197
close this issue as the PR #201 was merged.

[2017-11-27 17:25] #197 closed

[2017-11-27 17:27] Emily-Jiang commented on #200
The change looks good. @neilgsyoung is in the process of running against Open Liberty to make sure everything is ok and then merge in. thanks @McFoggy !

[2017-11-28 14:29] #200 closed

[2017-11-30 14:00] Emily-Jiang commented on #182
@antoinesd can you help with this?

[2017-11-30 14:00] antoinesd commented on #182
yes @Emily-Jiang

[2017-11-30 14:01] Emily-Jiang commented on #172
close this one as I have replied the question.

[2017-11-30 14:01] #172 closed

[2017-11-30 14:02] Emily-Jiang commented on #109
@antoinesd will you be able to pick this one up?

[2017-11-30 14:03] Emily-Jiang commented on #194
@antoinesd @mkouba pls help with adding more tests.

[2017-11-30 14:06] antoinesd commented on #194
Taking it

[2017-12-01 13:39] Emily-Jiang opened #204 "FT Annotation inheritance"
The current Fault Tolerance annotation annotations have @Inherited to follow the pattern done by other Java EE spec, e.g. @Transactional.  @McFoggy brought this up during FT hangout. For example,

[code]
In this scenario, MySub will inherit the retry annotation, which will apply to the method invokeServiceA(), even though invokeServiceA() has no FT annotation. It is hard to get rid of the Retry an

[2017-12-01 14:16] McFoggy commented on #204
from a Java point of view this is not true. `java.lang.annotation.Inherited` annotation does not bring you the visibility of the `@Retry` annotation on sub-classes methods.

I just pushed a test for this in #192, commit link is [31d90f86](https://github.com/eclipse/microprofile-fault-tolerance/pull/192/commits/31d90f864e7e7544a792e84890083f9c36a4605e)

[2017-12-01 14:17] johnament commented on #204
It should be option 1.  Option 2 means we need to crawl the tree of classes, as well as introducing a non-standard behavior pattern.

[2017-12-01 14:20] Emily-Jiang commented on #204
Thanks @johnament ! @McFoggy it is not JavaSE we are talking about. Since Retry is an interceptor binding, if you apply it on class level, all methods will inherit it.

[2017-12-01 14:27] McFoggy commented on #204
@Emily-Jiang agree because of the Retry on the class. My latest example was defining Retry only at method level, sorry if I disturbed the discussion.

[2017-12-01 14:29] Emily-Jiang commented on #204
no problem @McFoggy ! Thank you so much for demonstrating this!

[2017-12-01 15:13] Emily-Jiang commented on #204
Close this one as @johnament mentioned later if we remove the `Inherited`, FT interceptor bindings will be anti-pattern. We settled the [issue ](https://github.com/eclipse/microprofile-fault-tolerance/issues/183), which was the cause for this issue to state that we config the properties on the declaring class. Spec has been updated to make the message clearer.

[2017-12-01 15:13] #204 closed

[2017-12-01 15:14] #183 closed

[2017-12-03 09:59] OndrejM opened #205 "Specify that @javax.ejb.Asynchronous can be used instead of @Asynchronous in MP"
Since `@javax.ejb.Asynchronous` is already specified in the EJB spec and many MP implementations already provide it, I suggest to specify that it can be used instead of `org.eclipse.microprofile.faulttolerance.Asynchronous` as an alternative. For many developers it could be confusing that there are 2 @Asynchronous annotations provided by an implementation and only one of them works. It's very easy

[2017-12-04 15:27] kenfinnigan commented on #205
I'm -1 on this.

It's only an issue when those two annotations happen to be on the classpath, which is not the case with every MP implementation.

Also, it's no different than the situation with other annotations in Java EE that are re-used between specifications.

[2017-12-04 16:48] Emily-Jiang commented on #205
-1. Besides what @kenfinnigan states above, I would not like to introduce the dependency on ejb api. Besides, we have better control on our async and we will be able to expand it. Everything with ejb on will send a false alarm being heavy.

[2017-12-06 14:50] Emily-Jiang commented on #189
@McFoggy @antoinesd and I discussed this today. Broadly speaking, we will explore this idea in the future release.

[2017-12-06 14:53] Emily-Jiang commented on #187
I will defer this one. However, I will add a statement on the spec to say "The stereotype support is optional."

[2017-12-06 15:15] McFoggy opened #206 "git policy for the project"
Wouldn't it be beneficial to define some rules regarding the management of git history:
- how to merge PR
  - rebase vs merge
  - squash non relevant commits
- long living branches merged several time
- ...

having some rules could:
- bring a clean & meaningful history
- provides rules for admins to ease (or at least guide) their management tasks when accepting PRs

[2017-12-06 23:09] Emily-Jiang commented on #206
@McFoggy This is a good suggestion. please bring this up in the MicroProfile google group. The suggestion applies to all MP projects.

[2017-12-06 23:13] Emily-Jiang commented on #181
@johnament are you still have question on this? If no, I plan to close this.

[2017-12-06 23:15] Emily-Jiang commented on #174
I believe this issue has been solved via the hangout and the new version of the Arquilliant upgrade.

[2017-12-06 23:15] #173 closed

[2017-12-06 23:25] Emily-Jiang commented on #109
Let's use the name convention suggestion by @jGauravGupta
disable on the class-level - this applies to all methods on the class
com.acme.test.MyClient/serviceA/CircuitBreaker/enabled=false
disable method-level: CircuitBreaker will be disabled on the method even if there is an class level annotation
com.acme.test.MyClient/serviceA/methodA/CircuitBreaker/enabled=false
disable globally: any method/cl

[2017-12-06 23:26] Emily-Jiang opened #207 "Update readme.adoc"
update readme adoc as it is out of date.

[2017-12-08 11:03] McFoggy commented on #206
done under this thread: https://groups.google.com/forum/#!topic/microprofile/dObuz0VFiLw

[2017-12-08 11:07] McFoggy commented on #205
-1 to integrate the spec.

But one could expect a JEE implementation of FT to handle it, why not. By doing so, your project will be non FT portable anymore but tied to any implementation that would support that.

[2017-12-15 14:17] antoinesd commented on #182
Added PR. Test related to converters should be added to config IMO

[2017-12-18 11:13] McFoggy opened #210 "CircuitBreakerTest tests are not independants"
#201 introduced new tests reusing injected services.

That means that between 2 tests using the same service (for ex: `testCircuitDefaultSuccessThreshold() & testCircuitInitialSuccessDefaultSuccessThreshold()` use both `clientForCBDefaultSuccess`) the CircuitBreaker implementation retains information from previous test.

This is an issue especially for remote implementations that deploy the test a

[2017-12-20 13:10] johnament commented on #210
@McFoggy is this an implementation bug?  I would expect on redeploy that the data is reset, not persisted.  but perhaps that's my own implementation assumption.

[2017-12-20 16:25] McFoggy commented on #210
@johnament for me it is not implementation dependent. It is just that it might appear with only remote implementations.
Problem is that using arquillian the deployment is done once for all tests in file, and as the tests reuse the same service, for which the impl must keep track of calls, the second test does not start in a clean state.

[2018-01-03 13:56] neilgsyoung opened #211 "@ShouldThrowException with testable=true change breaks TCK on OpenLiberty"
Opening an issue to track this problem.

There is a problem with the change introduced under issue #203. I cannot get the change to run on a managed arquillian OpenLiberty container. When I originally tested the change in
#203 I think I'd built fault tolerance against Arquillian 1.1.14 but had run against Arquillian 1.1.12.
Having built my environment more carefully against Arquillian 1.1.14 I see

[2018-01-04 16:45] neilgsyoung commented on #211
My understanding is this. Our OpenLiberty TCK test environment uses a managed Liberty (wlp) Arquillian container. So 2 JVMs are in operation.
The first JVM is where the Arquillian core code and wlp Arquillian Container code are run. So this JVM is responsible for starting the
Liberty Server in the other JVM (if it hasn't already started), installing war files in the Server's "dropins" directory fr

[2018-01-09 15:26] kwsutter opened #212 "Need to update spec pom.xml for proper pdf and html generation"
Just a gentle reminder that since this component has not used the updated release process yet, you will need updates to your spec's pom.xml file for proper generation of the pdf and html.  We found a couple of hiccups with components during the MP 1.3 release, so I'm creating a couple of Issues as reminders.  You can reference the Config component as an example of proper usage.

[2018-01-15 09:19] neilgsyoung opened #213 "Correct expected test results in TCK RetryVisibilityTest"
I'm opening this issue to correct the minor issues I identified in #192

[2018-01-16 10:37] neilgsyoung opened #215 "Correct expected test results in TCK ConfigPropertyGlobalVsClassTest"
The global config property setting should override the class setting - there should be 7 retries (8 executions).

[2018-01-16 11:40] #213 closed

[2018-01-16 15:20] kwsutter opened #217 "Consistent *Unit setting names for Retry"
As I was experimenting with Fault Tolerance, I was surprised by the inconsistent naming of the *Unit values with the @Retry annotation.

First off, delay and delayUnit is consistent and what I would expect.

But, we have maxDuration and durationUnit.  I would have expected maxDurationUnit.

And, then we have jitter and jitterDelayUnit.  This one is a bit trickier.  To be consistent, I would have e

[2018-01-16 23:02] #215 closed

[2018-01-19 17:01] carlosdlr commented on #212
This fix is already done in commit https://github.com/eclipse/microprofile-fault-tolerance/commit/5e98da3e24d4611154cb44bf18eb55dee523aedb by @Emily-Jiang

[2018-01-19 17:38] kwsutter commented on #212
Resolved via PR #219.

[2018-01-19 17:38] #212 closed

[2018-01-24 14:50] antoinesd commented on #205
-1 for me as well

[2018-01-24 14:51] Emily-Jiang commented on #205
I'll close this issue as there are enough -1.

[2018-01-24 14:51] #205 closed

[2018-01-24 14:51] carlosdlr commented on #205
-1 for me

[2018-01-24 14:52] #196 closed

[2018-01-24 14:57] Emily-Jiang commented on #179
Carlos, please take a look at this ticket.

[2018-01-24 15:19] carlosdlr commented on #179
ok, i'll check @Emily-Jiang

[2018-01-24 15:28] #181 closed

[2018-01-24 15:30] Emily-Jiang commented on #180
@johnament are you happy with the comments? Do you still want to keep this ticket open? Or I can close it and you reopen it if you see any problems when you have chance to try on TomEE?

[2018-01-24 15:31] #174 closed

[2018-01-24 15:37] Emily-Jiang commented on #217
We discuss this issue in today's hangout. We have two options:

1. can introduce two more methods and deprecate the old ones.
        +: backward compatibility
         -: too many methods
2. we can replace the old methods with the new names, but it will be breaking changes.
         +: backward incompatibility
         -: nicer api

[2018-01-25 13:30] cen1 opened #220 "Add support for exponential backoff retry"
[Failsafe](https://github.com/jhalterman/failsafe) already has support for [this](http://jodah.net/failsafe/javadoc/net/jodah/failsafe/RetryPolicy.html#withBackoff-long-long-java.util.concurrent.TimeUnit-).

Preferred and less wasteful policy than fixed period when the target service could be under heavy load and unresponsive for longer periods of time.

[2018-01-29 04:00] carlosdlr commented on #179
Hello, @Emily-Jiang

I already made the change related to the @johnament comments regarding the CDI injection.

Please check and let me know if is something else needed.

Thank you

[2018-01-31 14:11] #182 closed

[2018-01-31 14:16] Emily-Jiang commented on #220
sounds useful. +1 from me.

[2018-01-31 14:19] Emily-Jiang commented on #220
We can add one more method to configure the backoffFactor with the default value of 2

[2018-01-31 14:20] Emily-Jiang commented on #210
@neilgsyoung can you take a look at this?

[2018-01-31 14:21] Emily-Jiang commented on #211
@carlos can you see whether you can help us?

[2018-01-31 14:25] carlosdlr commented on #211
I'll check

[2018-01-31 14:25] Emily-Jiang commented on #180
close this issue for now. Please reopen if you see any problem occurring.

[2018-01-31 14:25] #180 closed

[2018-01-31 14:27] Emily-Jiang commented on #156
Can you specify your use case?

[2018-01-31 14:33] Emily-Jiang commented on #136
maybe we can introduce successRatio to specify the success ratio.

[2018-01-31 14:37] #125 closed

[2018-01-31 14:39] Emily-Jiang commented on #206
Let's carry on the discussion on MP google group. It is not directly related to this repo. Close it for now.

[2018-01-31 14:39] #206 closed

[2018-01-31 14:45] Emily-Jiang commented on #190
@carlos please take a look.

[2018-01-31 14:47] carlosdlr commented on #220
sfsf

[2018-02-03 04:28] derekm opened #224 "FallbackHandler's ExecutionContext should provide Exception getter"
`FallbackHandler`'s `ExecutionContext` should provide access to the exception that was caught, for example, here: https://github.com/eclipse/microprofile-fault-tolerance/blob/master/api/src/main/java/org/eclipse/microprofile/faulttolerance/Retry.java#L103

[2018-02-03 04:54] derekm commented on #73
I wrote some simple wait loops that I use... I think they have several benefits over awaitility.

They look a little awkward in usage, but they work & they're tested unlike most adhoc wait loops:

[code]
...and...
[code]

[2018-02-03 05:00] derekm commented on #73
Sure, it looks awkward, but I can pass information in & out of one of these wait loops unlike awaitility, which swallows your test:
[code]

[2018-02-03 05:02] derekm commented on #73
FYI @johnament

[2018-02-05 18:37] RadoslawOsinski opened #225 "Fallback method and unused sonar method"
In examples from blog:
http://blog.payara.fish/preview-microprofile-fault-tolerance-in-payara-micro
there is example for Fallback annotation usage:
[code]
I have not checked but I believe it works as described. In my current project code is analyzed by Sonar. During code analysis there was broken rule "Unused method". I am looking for other code examples which would allow me to pass this sonar rul

[2018-02-06 21:40] Emily-Jiang commented on #225
@RadoslawOsinski thanks for bringing this up! If you have to pass sonar rule, you can use the other flavour of [fallback]( https://github.com/eclipse/microprofile-fault-tolerance/blob/master/api/src/main/java/org/eclipse/microprofile/faulttolerance/FallbackHandler.java)

[2018-02-06 21:50] Emily-Jiang commented on #224
Can you explain the use case?

[2018-02-07 13:59] brunobat commented on #220
+1

[2018-02-07 14:23] antoinesd commented on #225
IMO sonar rules need to be relax. It's not MP or FT issue as similar issues could appeared with CDI for instance with observer methods. There are not called directly ut by the framework.

[2018-02-07 14:28] antoinesd commented on #224
Understand the possible use cases here (intelligent fallback according exception type). But wouldn't be too overkill ?

[2018-02-07 14:32] antoinesd commented on #220
Should be ok for our implementation. So +1 for me

[2018-02-07 14:33] jeanouii commented on #220
Very useful. We can start agressive at first and then get slower and slower until we reach a max value and decide it's dead :)

[2018-02-07 14:39] Emily-Jiang commented on #217
We discussed in today's hangout. The consensus is that we leave it for now. The method change exercise will take a lot of effort for no a significant gain. In the next major release, we can reconsider it.

[2018-02-07 14:59] Emily-Jiang commented on #189
We discussed this once more today. We think it is implementation specific details. It might be good for the implementation to extend the MP FT to support this extra functionality in particular application servers. We think the portability is key to MP specs. If the app behaves different in different runtimes that implement the MP FT, the behaviour is not desirable. Will close this issue for now.

[2018-02-07 14:59] #189 closed

[2018-02-07 17:22] carlosdlr commented on #211
1

[2018-02-08 20:19] derekm commented on #224
We kind of want to notify our callers that a fault occurred, by throwing an exception from the fallback method that the caller can catch for fault details. In order to notify callers of exceptional events, we need our fallback to know about these exceptional events.

We also had ideas about fallbacks that didn't notify their callers but that handled different errors more intelligently. Of course t

[2018-02-08 20:30] derekm commented on #225
We're having tons of issues with PMD & SpotBugs in CDI-enabled environments! I almost want to kick the static analyzers to the curb, because all they're doing is forcing us to litter our code with magical incantations that do nothing but allow our builds to pass.

[2018-02-10 16:59] RadoslawOsinski commented on #225
Thank you @Emily-Jiang. I haven't seen "FallbackHandler" interface. That solves issues with sonar rules for my team. I belive this question is solved by @Emily-Jiang.

[2018-02-10 16:59] #225 closed

[2018-02-14 13:53] #179 closed

[2018-02-14 14:09] Emily-Jiang commented on #224
In microservice architecture, if service A invokes service B unsuccessfully, all you get is the 404. You won't know the actual exception though.

[2018-02-14 14:35] Emily-Jiang commented on #187
We discussed this in today's hangout, here is what we found.

Stereotype is used on beans or method producer or field producer, not the aggregation of interceptor binding.

[2018-02-14 18:01] derekm commented on #224
Great! Thanks! This will be helpful in the future!

FWIW, for our main situation, we moved our operation that needs Fault Tolerance into an ObserveAsync listener, and we assume the process has failed until it succeeds (that is, we write out "not succeeded" before `fireAsync()` until a success writes out "succeeded", instead of our fallback handler writing out "failed" when it has failed).

[2018-02-15 11:58] tevans78 commented on #186
One of the reasons that ordering problems arise is because the annotations are not completely independent and it does not always make sense for one to be "before" the other. `@Asynchronous` and `@Bulkhead` is the most obvious example since it is called out by the spec...
[code]
i.e. `@Asynchronous` changes the behaviour of `@Bulkhead`.

[2018-02-17 12:11] arjantijms commented on #194
Just a though, but wouldn't a standalone @Asynchronous annotation more belong in a concurrency spec?

[2018-02-20 07:27] t1 commented on #187
@Emily-Jiang: I don't understand what this means, I guess it would have been beneficial, if I was on the hangout :-(  It would be very kind of you, if you could expand a little on the topic?

[2018-02-28 14:08] Emily-Jiang commented on #187
Stereotype is only used for CDI beans, producer fields and producer methods. Unfortunately, you are asking for a metatype aggregation of interceptor bindings, which CDI cannot do. Stereotype cannot help in this circumstance.

[2018-02-28 14:27] Emily-Jiang commented on #136
We discussed this issue in today's hangout. If we introduce the symmetric methods, it will create confusion and conflict if a developer specify both successratio and successThreshold. Which one to win? Besides, these parameters are configurable, it is unclear which value will have the final say. The current methods are sufficient to make the circuit breaker configurable and usable. It could be nic

[2018-02-28 14:27] #136 closed

[2018-02-28 14:38] Emily-Jiang commented on #133
This is useful.

com.acme.MyClient/invokeService/CircuitBreaker/forceOpen = true;
only opens the circuit for the invokeService of com.acme.MyClient
package com.acme;
public class MyClient{
   @CircuitBreaker
   public void invokeService() {

}
}

CircuitBreaker/forceOpen =true; globally open every circuit in the app.

[2018-02-28 14:40] neilgsyoung commented on #210
The reason it worked for me is that the OpenLiberty environment where I test uses a managed Liberty container, so that 2 JVMs are in operation. The first JVM drives the tests against the second JVM where the Liberty server runs. In that environment the tests are independent because the client service's bean is Request Scoped.

For other environments, one simple way to ensure that we re-initialize

[2018-03-02 14:15] t1 commented on #187
Maybe I'm getting something wrong, but CDI `Stereotype`s _can_ be used for `Interceptor`s. See http://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#specify_stereotype_interceptor_bindings

[2018-03-05 10:24] mkouba opened #227 "Bulkhead TCK tests - timing issue in TestData.check()"
The number of workers may be decremented AFTER the count of the latch is decremented. See also  https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/bulkhead/clientserver/Checker.java#L111

As a result, [an assert in TestData.check()](https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/o

[2018-03-05 20:25] carlosdlr commented on #190
s

[2018-03-06 11:05] #194 closed

[2018-03-06 11:51] mkouba opened #232 "BulkheadAsynchRetryTest - TestData.check() can be invoked before async wrappers are executed"
In the `BulkheadAsynchRetryTest.testBulkheadMethodAsynchronousRetry55Trip()` the `TestData.check()` can be  invoked before async `BulkheadRapidRetry55MethodAsynchBean.test()` wrappers are executed.

If only one wrapper is executed the test fails with:

	at org.eclipse.microprofile.fault.tolerance.tck.bulkhead.BulkheadAsynchRetryTest.testBulkheadMethodAsynchronousRetry55Trip(BulkheadAsynchRetryTest

[2018-03-07 17:45] #224 closed

[2018-03-07 17:45] #210 closed

[2018-03-09 11:29] Emily-Jiang opened #234 "Add metrics status automatically for FT"
Based on the feedback we got from the community, we need to display the metrics for FT actions.

Look at each annotation in turn:
1. Retry - it might be useful to display the time of retries. Maybe @Counter can be automatically added.

2. Timed - ideally it is good to display how long each method takes to run. @Timer can be used.
3. CircuitBreaker - good to list the failure rate, circuit open time

[2018-03-12 10:27] neilgsyoung commented on #211
Carlos and I messaged about this. I think this issue is most likely specific to our OpenLiberty environment. It looks like an issue with the Liberty version of the Arquillian Container. We are actively investigating.

[2018-03-13 10:37] Azquelt commented on #234
I've tried to follow prometheus best practices, particularly on [instrumentation][1] and [naming of metrics][2].

To make sense of the metrics I've suggested, it should be noted that prometheus will collect a snapshot of all of the metrics on a regular basis (default every 15 seconds) and provides lots of facilities for comparing and processing collected metric data.

For example, while a counter

[2018-03-14 18:32] carlosdlr commented on #211
Hello @neilgsyoung

Check this change that was made it in microprofile tck project the arquilian version was changed
https://github.com/eclipse/microprofile-fault-tolerance/pull/203/commits/62748bc36f1df057359776d465ab48a760b94efe
and maybe is necessary made the same on liberty code.

[2018-03-15 09:09] neilgsyoung commented on #211
Thanks @carlosdlr  we're needing to make a number of OpenLiberty Arquillian container changes, I'll double check that we have the version changes in our pom.xmls.

[2018-03-16 23:06] Emily-Jiang commented on #232
@mkouba can you submit a PR?

[2018-03-16 23:07] Emily-Jiang commented on #227
@hutchig can you take a look at this one?

[2018-03-16 23:07] #207 closed

[2018-03-19 09:51] hutchig commented on #227
@Emily-Jiang OK. Will do.

[2018-03-21 14:02] OndroMih opened #239 "Asynchronous interceptors for reactive apps"
All FT intereceptors in FT 1.1 are synchronous, meaning they wait for the downstream method to return and then do some action, e.g. retry on exception.

In reactive applications this doesn't work because the method usually just triggers an asynchronous action (e.g. asynch JAX-RS call) and the processing continues in a callback of a completion stage.

FT interceptors should support this scenario by

[2018-03-21 14:14] Emily-Jiang commented on #239
@OndrejM will add tck to make sure @Asynchronous used together with other FT annotations the return value will be evaluated and trigger the necessary FT actions.

[2018-03-21 14:26] Emily-Jiang commented on #217
We discussed this again in today's hangout and decide not to do it as there is no apparent advantages.

[2018-03-21 14:26] #217 closed

[2018-03-21 14:29] Emily-Jiang commented on #211
@hutchig pls retest against the current latest arquillian container to see whether this is still the case?

[2018-03-21 14:34] Emily-Jiang commented on #187
Stereotype has scope, interceptors, qualifier. Interceptors alone can make a Stereotype with a default scope of Dependent though no scope is mentioned. Stereotype is only used for producers.

[2018-03-21 14:55] Emily-Jiang commented on #184
@antoinesd are you going to propose a PR?

[2018-03-21 15:10] OndrejM commented on #187
I'd like to clarify what @Emily-Jiang wrote: Stereotypes can be used only on producers and classes but on methods. So there's a value in supporting stereotypes but only as default configuration for all methods of a CDI bean. It should be clarified that putting a stereotype on a method would be ignored - only specific interceptor annotations can be used for methods.

[2018-03-28 13:15] #232 closed

[2018-04-04 11:33] mkouba opened #240 "Clarify how CircuitBreaker.failOn() should work"
There is no mention in the spec text and the javadoc is rather unsatisfactory: _"Define the failure criteria"_.  The original intent was probably to only use the circuit breaker if the exception thrown is assignable to any of the listed exceptions?

[2018-04-04 11:40] mkouba commented on #240
Also what happens if `@CircuitBreaker` is used together with `@Fallback`? E.g. if the failure does not match `failOn()` should be the fallback used?

[2018-04-05 15:44] Azquelt commented on #234
Back from holiday, I've updated the comment above with the changes suggested at the hangout on 2018-03-14

* CircuitBreaker
  * Add accumulated open/closed time
  * Add counter for number of times circuit breaker opens
  * Add gauge for the current fail rate of the circuit breaker window
* Bulkhead
  * Change `current_executions` to `concurrent_executions`
  * Change `queue _size` to `queue_popula

[2018-04-06 13:51] hutchig opened #242 "testBulkheadClassAsynchFutureDoneWithoutGet is not robust enough to variable delays in test thread scheduling"
In our large, cloud based, test infrastructure we run about 10,000 builds a week.
Sometimes we get non-deterministic delays for threads due to network glitches
and underlying hardware migrations etc.

We sometimes see testBulkheadClassAsynchFutureDoneWithoutGet fail (wrongly).

The gist of this test is:
define task=(1/10th second wait)
submit task
check immediately done==false
wait 2*1/10th second

[2018-04-06 15:35] hutchig commented on #227
I have moved the latch decrement to the finally block after the
 workers count decrement. Just batch testing now.

[2018-04-09 14:05] mkouba opened #245 "Asynchronous execution - clarify the purpose of the returned `Future` object"
The spec does not specify whether the returned `Future` object is only used as a way to pass the result value or whether we should always delegate to the underlying `Future`, e.g. what happens if an asynchronous method returns a `Future` object and the client invokes `Future#isDone()`? Should it return true once the `@Asynchronous` method completes? Or should it return true when the returned `Futu

[2018-04-09 14:11] mkouba opened #246 "Asynchronous execution with retry policy - clarify if a Future that completes exceptionally triggers a retry"
This issue is related to #245. See also the following example. Note that the `Future` might be actually obtained from another part of the app.

[code]

[2018-04-09 15:57] mkouba opened #247 "Policies use subclasses of java.lang.Throwable to specify failures"
However, according to the interceptors spec (Business Method Interceptors) around-invoke methods have the following signature:

As a result, you cannot e.g. specify `org.eclipse.microprofile.faulttolerance.Retry.retryOn()` to be a custom `Throwable` (other than `java.lang.Error`and `java.lang.Exception`). A CDI container usually wraps such `Throwable` in a runtime exception.

The spec should proba

[2018-04-09 16:23] antoinesd opened #248 "Does Timeout on synchronous operation make sense ?"
In our implementation we are experiencing issue with timeout if it's used on non asynchronous operation.
So I'm wondering if it's relevant to support `@Timeout` on non `@Asynchronous` operations. Any thought ?

[2018-04-09 16:29] antoinesd opened #249 "Clarification on Circuitbreaker on Asynchronous operation"
In Chapter 4.1. Asynchronous Usage says:

While chapter 8.1. Circuit Breaker Usage says:

If `@CircuitBreaker` should work on `@Asynchronous` operation we should be more precise on the expected behavior.

[2018-04-10 09:40] Emily-Jiang commented on #234
@pilhuhn @donbourne please read @Azquelt 's suggestion to see whether you have any comments.

[2018-04-10 10:08] pilhuhn commented on #234
I think that mostly makes sense. I am a bit worried about the new `@FTMetrics` annotations that duplicate some of what metrics has. Perhaps we can find a better way to use `@Metric` here, as I feel confusion coming up when both exists.

The other thing that we are working on and that we still need to solve is where in the metrics registries those metrics would be registered. Originally in eclipse/

[2018-04-10 14:27] hutchig commented on #248
Forgive the simplistic language, it is how my mind works.

I imagine it is related to how interruptable the application operation is.

Perhaps if a method was a local front end for something that is a remote operation,
waiting for the remote operation is locally interruptable, so setting a timeout could be a(nother) way
of controlling how long the application method is allowed to wait for a reply.

[2018-04-10 14:30] hutchig commented on #242
Fixed by https://github.com/eclipse/microprofile-fault-tolerance/pull/243

[2018-04-11 12:37] Emily-Jiang commented on #249
@antoinesd Asynchronous should work with CircuitBreaker. Go ahead to clarify the spec.

[2018-04-11 12:40] Emily-Jiang commented on #247
yes, we can clarify this in the spec.

[2018-04-11 13:14] Emily-Jiang commented on #239
test only

[2018-04-11 13:47] Emily-Jiang commented on #246
It should trigger the retry if a Future that completes exceptionally. We should add tests for this.

[2018-04-11 13:59] Emily-Jiang commented on #245
It is the latter. It should it return true when the returned Future is done?

[2018-04-11 22:36] mkouba commented on #246
If so, the spec should clarify that the `Future` returned is an internal construct which delegates to a `Future` returned from the method.

[2018-04-16 07:47] mkouba commented on #245
Also what happens if `@Asynchronous` is combined with `@Retry`?

[2018-04-16 09:19] mkouba opened #250 "Clarify @Asynchronous @Retry @Bulkhead"
However, if `@Retry` is also used, it might not be possible to throw the `BulkheadException` immediately. E.g. in the following example, if the first invocation fails due to some networking problem and the second invocation fails due to bulkhead, we cannot throw the `BulkheadException` when `ping()` completes from the client point of view. The only thing we can do is to "throw" the `BulkheadExcept

[2018-04-16 19:06] mkouba commented on #250
I think we should use a wording similar to timeout:

[2018-04-16 19:28] mkouba commented on #250
It seems there are few tck tests (`BulkheadAsynchRetryTest#testBulkheadClassAsynchronous55RetryOverload`, `BulkheadAsynchRetryTest#testBulkheadMethodAsynchronous55RetryOverload`, `BulkheadAsynchRetryTest#testBulkheadMethodAsynchronousRetry55Trip`) which expect the `BulkheadException` to be thrown direcly from an `@Asynchronous` `@Retry` `@Bulkhead` method invocation. This is IMHO wrong, although I

[2018-04-17 08:43] #109 closed

[2018-04-17 09:11] hutchig commented on #242
This should be fixed now.

[2018-04-17 09:11] #242 closed

[2018-04-17 09:35] Emily-Jiang commented on #250
@mkouba can you join the call on 2nd May to discuss the async issues?

[2018-04-17 09:35] Emily-Jiang commented on #250
We would like to discuss the real use case you are concerning about.

[2018-04-17 09:44] Emily-Jiang commented on #73
We will close this issue for now since there will be a lot of effort involved with not much gain. Please reopen if you think otherwise.

[2018-04-17 09:46] Emily-Jiang opened #251 "Use the latest release process to create FT 1.1"
This repo needs to use the latest release process, same as Config repo.

[2018-04-17 10:11] mkouba commented on #250
@Emily-Jiang Ok, I will try to make it.

[2018-04-18 06:43] mkouba opened #252 "Build fails with Checkstyle errors"
"There are 24 errors reported by Checkstyle":
[code]

[2018-04-18 06:51] mkouba commented on #252
Moreover, there are errors while generating javadoc:
[code]

I think it would be wise to add some basic CI, e.g. https://travis-ci.org/. @Emily-Jiang @antoinesd WDYT?

[2018-04-18 08:14] Emily-Jiang commented on #252
Just saw the build errors myself.... @mkouba @antoinesd it is best to run a local build just with mvn clean install to verify your PRs. I'll do a fix on this if I have time today.

[2018-04-18 08:46] mkouba commented on #252
@Emily-Jiang of course it is but a PR check (e.g. using Travis CI) would be a safety bell.

[2018-04-18 10:31] hutchig opened #253 "testBulkheadMethodAsynchronousRetry55Trip can fail in 'stressed' test system."
testBulkheadMethodAsynchronousRetry55Trip
does something that is broadly a tight loop sending
11 tasks into the following bulkhead:

@Bulkhead(waitingTaskQueue = 5, value = 5)
@Asynchronous
@Retry(retryOn =
    { BulkheadException.class }, delay = 1, delayUnit = ChronoUnit.MICROS, maxRetries = 10, maxDuration=999999)
public Future test(){
   sleep for one second
}

The idea is that the 11th task w

[2018-04-18 12:30] hutchig commented on #252
I have these edits already and am happy to do a PR.

[2018-04-18 13:04] hutchig commented on #252
https://github.com/eclipse/microprofile-fault-tolerance/pull/255

[2018-04-18 13:05] Emily-Jiang commented on #252
ah. didn't see your message @hutchig ! I have just fixed the build. @mkouba all errors should be caught by simply running mvn clean install. I think @antoinesd might have disabled some style check, which is why the build is broken in the travis. @antoinesd can you make sure not to set other parameters to verify your PR is good.

[2018-04-18 13:05] hutchig commented on #252
No problem :-)

[2018-04-18 13:13] hutchig commented on #252
My PR also had a fix for the
tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/AsynchronousTest.java empty @author which was giving me
[WARNING] /Users/hutchig/git/eclipse/microprofile-fault-tolerance/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/AsynchronousTest.java:42: warning: no description for @author
[WARNING] * @author

[2018-04-18 13:42] hutchig commented on #211
I refreshed my local arquillian container to the current master
(date of HEAD commit in version below) and uploaded it to
artifactory.

<dependency>
    <groupId>com.ibm.ws.org.jboss.arquillian.container</groupId>
    <artifactId>arquillian-liberty-managed</artifactId>
    <version>999.0.20180329212918</version>
    <type>pom</type>
</dependency>

I edited https://github.com/OpenLiberty/open-liber

[2018-04-18 14:15] hutchig commented on #211
These all pass:
[code]

[2018-04-18 14:17] hutchig commented on #211
So this issue is not present with the updated Liberty Arquillian Container.

[2018-04-18 14:26] carlosdlr commented on #211
Thank you

[2018-04-19 17:02] Azquelt commented on #234
@donbourne sorry for not responding sooner, work has been quite hectic as people are away.

1) Yes, that sounds like a good idea. I'll add that.
2) Yes, that makes sense too, though I'm a little concerned that it would negatively impact the usability. Summing across a bunch of tagged metrics is easy, you just put `sum(` and leave out the tag, but summing when you have to name several long metric n

[2018-04-23 16:47] Azquelt commented on #234
Having re-read your suggesting for renaming the metrics to make it easier to transform them to tagged metrics at a later point, I think the suggestions are great.

We could also possibly make the `${name}` section a tag as well. That would allow you to write queries like "what are the top 10 methods with the worst 99th percentile execution time", and "which methods need to retry more than 2% of th

[2018-04-25 11:17] Azquelt commented on #234
I've taken Don's changes and submitted a PR for these changes to the spec.

I also made the following changes
* Removed the gauge showing the internal state of the circuit breaker, I couldn't find a way to get this out of Failsafe
* Renamed `ft_${name}_circuitbreaker_calls_failure_open_total` to `ft_${name}_circuitbreaker_calls_circuit_open_total`
* Added metrics for the circuit breaker half-open

[2018-04-26 09:02] hutchig commented on #253
Fixed

[2018-04-26 09:02] #253 closed

[2018-04-26 10:05] antoinesd commented on #250
@Emily-Jiang. Want to be sure that you are talking about weekly FT meeting on Wed at 2:00pm UK time.

[2018-04-27 10:01] OndrejM commented on #234
I suggest to resolve the current comments on the #257 PR, merge it in and continue the discussion here.

My opinion:
- **gauge for internal CB state** - any gaps in an existing implementation shouldn't prevent adding features into a spec, therefore I would bring back the metric with the current state of a circuit breaker. Implementations should add support for it to be compatible, not the other wa

[2018-04-27 15:10] Emily-Jiang commented on #250
Let's discuss it in next week's FT hangout on Wed 2:00UK time. sorry..... rescheduled this week's call.

[2018-04-30 01:50] donbourne commented on #234
My thoughts...
- **naming and aggregation** - I have opened issue https://github.com/eclipse/microprofile-metrics/issues/237 to address that on the mpMetrics side.  I expect this will require another feature in mpMetrics (which would require another release of mpMetrics to exploit it).  In the meantime, you may need to use an inferred name.  As a suggestion, the inferred name could be the class na

[2018-04-30 14:42] donbourne commented on #234
On second thought, I'm not sure I like the idea of your inferred name differing from mpMetrics inferred name.  I think that changes my thoughts to...

- **naming and aggregation** - wait for eclipse/microprofile-metrics#237
- **methods with the same name** - wait for eclipse/microprofile-metrics#237.  In meantime, use reusable=true and tell people that multiple methods with same name will be track

[2018-04-30 14:46] #251 closed

[2018-05-02 08:53] OndrejM commented on #250
I agree with @mkouba - asynchronous methods should return asynchronous result and also **throw exceptions asynchronously**. An exception is an alternative return type and should behave as the normal return type unless there are specific needs to throw them directly.

The spec now says:

I would change this to "Method invocation and all the 4 FT interceptors will occur in a different thread".

That

[2018-05-02 08:54] OndrejM commented on #250
We should also define the priority/order of all annotations and `@Asynchronous` should have the highest priority. But this is for another issue.

[2018-05-02 08:56] OndrejM commented on #246
We should also mandate that if FT annotations are applied on an `@Asynchronous` method, they finish the future exceptionally instead of throwing an exception from the method. As discussed in #250

[2018-05-02 08:59] OndrejM commented on #245
As I suggested in #250, `@Asynchronous` should have the highest priority and so `@Retry` should happen in a separate thread. When `@Retry` gives an exception, the method should return a future with exception instead of throwing an exception. We need to update the spec once we have an agreement.

[2018-05-02 09:17] #190 closed

[2018-05-02 13:38] Emily-Jiang commented on #250
As for today's hangout, the current proposal is:

If @Bulkhead used with @Async and @Retry, when BulkheadException occurs, which will trigger the Retry, the execution of Retry will happen on the calling thread.

[2018-05-02 13:39] Emily-Jiang commented on #250
please take a look and share your comments.

[2018-05-02 13:49] Emily-Jiang commented on #249
Will clarify the spec to mention they should work together and then add tck.

[2018-05-02 20:27] benjamin-confino opened #263 "Injection failure in disableEnv tck tests"
The tests in the disableEnv package are missing classes from the deployment jar causing injection failures when you attempt to run the tests.

[2018-05-03 07:03] mkouba commented on #250
I've been thinking about this for a while and I don't [this proposal](https://github.com/eclipse/microprofile-fault-tolerance/issues/250#issuecomment-385980500) is a good idea. It would be much clearer if we follow @OndrejM's proposal, i.e. if `@Asynchronous` is present then all policies are applied asynchronously in a different thread -> a call site always gets `Future` (in fact `CompletionStage`

[2018-05-03 15:37] Emily-Jiang commented on #263
closed by PR #264

[2018-05-03 15:37] #263 closed

[2018-05-03 15:39] Emily-Jiang commented on #252
Based on our discussion, can I close this issue @mkouba  or you want to pull in more infrastructure changes

[2018-05-03 16:12] benjamin-confino opened #266 "Allow explicit trues in Disabled Fault Tolerance policies with configuration"
In configuration.asciidoc under Disabled Fault Tolerance policies with configuration there is the following statement:

`If the above configurations patterns are used with another value than `false` (i.e. `<classname>/<methodname>/<annotation>/enabled=whatever`) non-portable behaviour results`.

I believe that the spec should cover the value `true` as well as `false` and state that should the valu

[2018-05-03 16:38] Emily-Jiang commented on #266
We should improve this. @antoinesd what do you think?

[2018-05-04 01:41] OndrejM commented on #156
An example usecase is when a `FallbackHandler` wants to access the original object instance. A workaround is to use `fallbackMethod` which is executed on the same object so it's not of high priority. Although I don't like string references in the code and prefer using a fallback handler references as a class instead of fallbackMethod references by its string name.

[2018-05-04 01:48] OndrejM commented on #239
As I suggested in #250, `@Asynchronous` should have the highest priority and so all other interceptors should happen in a separate thread. This combined with #110 would solve this issue because all interceptors would work automatically with `CompletionStage` when `@Asynchronous` applied. Still some tests are needed to cover this scenario.

[2018-05-04 01:53] OndrejM commented on #239
Well, not exactly. Interceptors need to be adjusted to detect also an exception in Future and CompletionStage. Exception handling is clarified in PR #267 but it should also be clarified that all annotations should detect btoh thrown exceptions and those in Future and CS.

[2018-05-04 07:46] mkouba commented on #252
I still think that a PR check (e.g. using Travis CI) would be beneficial.

[2018-05-04 08:28] antoinesd commented on #252
+1
To be honest I'm a bit puzzled that no MP spec use a CI for PR like Travis. Didn't find any decision on that point

[2018-05-09 14:08] hutchig opened #271 "Improve speed and perhaps reliability of the Bulkhead TCK tests."
Many of the Bulkhead TCK tests 'count' how many threads are in the bulkhead at
once. This is often done by starting them all at the same time and each method
taking a perion of time using, for example, a sleep.

Very rarely I see a test fail due to not 'enough' parallelism, (for example in the current TCK  testBulkheadClassSemaphore3 seems to be the most common when the whole suite is run
but can

[2018-05-09 16:39] hutchig commented on #271
Having put in tighted concurrency controls, I now have a working theory that I am testing that
this may be occurring due to the Bulkhead3ClassSemaphoreBean being application
scoped and there being leftover 'workers' in the Bulkhead from previous tests.

[2018-05-10 11:11] mkouba opened #274 "CDI request context should be active during @Asynchronous method invocation"
Just like it's active during an asynchronous method invocation of an EJB session bean.

[2018-05-10 13:54] Azquelt commented on #211
Need to re-open this, the issue is not fixed.

We were still using arquillian 1.1.13 when we ran the tests when we saw the tests passing. At this version, the `testable = true` flag is ignored because it wasn't implemented yet.

@carlosdlr Can you provide a bit more information about how this is supposed to work?

As far as I can see, setting `testable = true` on a deployment means that the test c

[2018-05-10 17:06] Azquelt commented on #211
If your container or test runner needs to modify the archive before deployment, could they do this by registering as a `BeforeDeploy` observer rather than an `ApplicationArchiveProcessor`? (Testing locally, I seem to be able to add a file to a non-testable archive this way)

[2018-05-14 12:07] hutchig commented on #211
The current wildfly relevant link is https://issues.jboss.org/browse/WFARQ-36

[2018-05-14 13:07] hutchig commented on #211
The exception that Liberty and Wildfly see is at:

org.jboss.arquillian.protocol.servlet.BaseServletProtocol.getExecutor(BaseServleetProtocol.java:56).
The line is that is NPE is:
[code]

due to the metaData being null.

...but the metadata is supposed to be returned from the same container deploy() method
that is being specced to return an exception:

[code]
This is the implementation of the comm

[2018-05-14 14:42] hutchig commented on #211
Hi @carlosdlr, thanks but I have done the PR already #277 :-)

[2018-05-14 17:04] hutchig commented on #211
Indeed (and for those not familiar with the thread - @Azquelts workaround
was an alternative hook to get an extension to be run for a non-deployable
artifact - not a way to get ShouldThrowException(.... testable=true) to
work for a DeployableContainer - which is impossible. )

On 14 May 2018 at 17:23, Matthieu Brouillard <notifications@github.com>
wrote:

[2018-05-15 14:26] hutchig commented on #211
Hi @McFoggy not sure if it is the @BeforeDeploy annotation (which would need
a change in the test program) or actually the use of a loadable extension.

If it was me I would do something like a
https://github.com/arquillian/arquillian-showcase/blob/68bd3d651fe675ed0b755e67295f8960c5cce92b/extensions/lifecycle/src/main/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension#L1

[2018-05-16 13:19] Emily-Jiang opened #278 "Need to define a priority when multiple property declared"
There is global property called MP_Fault_Tolerance_NonFallback_Enabled and also introduced individual properties to disable/enable each annotation. We need to declare the priority when multiple of them are present.

My proposal is to give MP_Fault_Tolerance_NonFallback_Enabled the lowest priority.
e.g.
[code]
all other annotations except Retry and Fallback will be disabled.

[2018-05-16 13:33] #266 closed

[2018-05-18 17:01] Emily-Jiang commented on #278
#279 added the tests

[2018-05-21 10:28] #278 closed

[2018-05-21 10:29] #234 closed

[2018-05-21 10:33] hutchig commented on #211
This issue is now not there and it should be closed - unless @Emily-Jiang you know something I don't?

[2018-05-21 10:37] Emily-Jiang commented on #211
Should we open a new issue to log your suggestions?

[2018-05-21 10:39] hutchig commented on #211
I think the suggestions are vendor specific - so probably not appropriate for the general issue list.

[2018-05-21 10:47] Emily-Jiang commented on #211
Let's close it for now.

[2018-05-21 10:47] #211 closed

[2018-05-21 10:51] Emily-Jiang commented on #252
The problem mentioned in this issue can be resolved via `mvn clean install` on the local run. If you think MP infrastructure should introduce Travis CI against PR, please feel free to raise on MP mailinglist with another use case where you cannot do it locally and cheaply.

[2018-05-21 11:55] mkouba commented on #252
That's not the purpose of CI and automated builds. The main benefit is that a PR is built automatically and could be rejected immediately if anyone attempts to push changes that would break the build or tests. Otherwise the one who is merging a PR would have to perform all checks manually. And as you can see - manual checks are very often neglected ;-)

@antoinesd Pls send a request/question to th

[2018-06-19 10:53] hutchig opened #289 "Introduce reactive support into @Asynchronous"
Fault Tolerance @Asynchronous has a means of queueing and hooks that control managed execution.

I would be a natural follow on to add a feature where we submit work in response to
   org.reactivestreams.Subscription.request(long n)
to support https://github.com/eclipse/microprofile-reactive.

It could perhaps have a specced way of handling too much back pressure.
This might usefully serve as an '

[2018-06-19 10:53] hutchig commented on #289
@jroper ^^^

[2018-06-19 12:51] hutchig commented on #289
pre-reqs #110 :-)

[2018-06-19 14:32] hutchig commented on #289
When one has a microservice that is not fully reactive and one wishes to plumb it upstream into
a system that is reactive - there is a possibility that one will not only have to handle the
backpressure but to fail in a controlled manner when there is 'too much' back pressure.
This failure is a form of 'fault tolerance' (use a fallback etc.) which is another reason why it
fits here.

[2018-06-20 09:30] hutchig commented on #289
OK, here is a strawman to ellicit comment.

We are trying to help solve two problems that might exist in JEE/Microprofile systems over the next few years:

1  -  Improve the plumbing between reactive components and non-reactive components
2 -  Have defined semantics for handling backpressure at the 'edges' of reactive components or
       graphs of components.

Use cases:
#UC1 We have a non reacti

[2018-06-27 12:40] Emily-Jiang opened #291 "Investigate how Asynchronous works with other annotations"
We need to spec what is the desired behavior for the following use cases:

- Use Asynchronous with Timeout

[code]

- Use Asynchronous with CircuitBreaker
[code]
- Use Asynchronous with Retry
[code]
-  Use Asynchronous with Bulkhead
[code]

-  Use Asynchronous with Fallback
[code]

[2018-06-27 13:37] hutchig commented on #289
#UC2 Is plugging a reactive upstream component into a non-reactive downstream component with FT semantics (e.g. bulkhead size/queue length) used to control the 'request' of data flow.
<to be completed>

[2018-06-27 13:38] hutchig commented on #289
#UC2 Is plugging a reactive upstream component into a non-reactive downstream component with FT semantics (e.g. bulkhead size/queue length) used to control the 'request' of data flow.
<to be completed>

[2018-06-27 13:57] Emily-Jiang commented on #291
[code]
@Asynchronous
@Retry
public CompletionStage callA() {

}

[code]
@Asynchronous
@Timeout
public CompletionStage callA() {

}
[code]
@Asynchronous
@Bulkhead
public CompletionStage callA() {

}
[code]
@Asynchronous
@Bulkhead
@Timeout
public CompletionStage callA() {

}
[code]
@Asynchronous
@Bulkhead
@Timeout
@Retry
public CompletionStage callA() {

}
[code]
@Asynchronous
@CircuitBreaker
public

[2018-07-04 09:41] hutchig opened #292 "Incorrect TCK Test: AsyncTimeoutTest:testAsyncTimeout"
https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/AsyncTimeoutTest.java

[code]

[2018-07-04 13:40] Emily-Jiang commented on #291
We are going to discuss this and make decision on 11th July. Please attend the call then.

[2018-07-04 13:43] Azquelt commented on #292
I agree, we shouldn't be resetting the start value after the method has been running for a while.

[2018-07-04 14:15] Emily-Jiang opened #294 "Release 1.1.1 to improve some tests"
A couple of tests #292 and #290 are reported as incorrect. We need to do a minor release to fix this.

[2018-07-11 13:32] Emily-Jiang commented on #291
- Use Asynchronous with Retry, CircuitBreaker
[code]

1. callA() -> retry 3 times ()
2. callA() -> retry 3 times ()
3. callA() ->retry 3 times ()
4. callA() ->retry 3 times ()
5. callA() ->retry 3 times ()

callA() fails, retry will happen, circuitbreaker

[2018-07-12 05:22] rdebusscher opened #296 "Spec clarification needed: Do JAX-RS controllers need to be CDI beans?"
As far as I can see, there is no explicit mentioning that the JAX-RS controllers need to be CDI beans in order for the 'interceptor's to work.

The result is that some implementations only work when the class is defined as CDI bean. Other implementations don't rely on this fact.

This is a compatibility issue which leads to 'vendor lock-in'.

[2018-07-18 13:49] hutchig commented on #292
Added tp 1.1.1

[2018-07-18 13:49] #292 closed

[2018-07-18 14:01] Emily-Jiang commented on #296
This might be caused by the understanding of JAX-RS  resources by application servers. Some app server might take JAX-RS resources as CDI beans automatically. However, according to the EE7/8 spec table 5.24, JAX-RS resources are not CDI beans. In order to make the microservice portable, a bean defining annotation must be specified.

[2018-07-19 14:29] sdaschner opened #297 "Thread pool-based bulkheads with JAX-RS asynchronous resources"
In order to implement thread pool-based bulkheads that originate from HTTP / REST endpoints, it would be very helpful to use executor services, provided by MP FT from JAX-RS asynchronous resources.

I showcased the idea to implement both bulkheads and also threadpool-based backpressure, in the following video: https://blog.sebastian-daschner.com/entries/bulkheads-backpressure-javaee

As far as I'v

[2018-07-22 22:17] Emily-Jiang commented on #297
@sdaschner this is related to issue #110 . We are also in [discussion](https://groups.google.com/forum/#!topic/microprofile/jKFu-IS_U90) to bring concurrency to MP due to the usage of #110 .

[2018-07-26 10:27] Azquelt opened #298 "Should Asynchronous methods be allowed to have a void return type"
Should we allow this?
[code]

I don't think there's a need to require the user to return a future or a completion stage if they just want to fire and forget some operation.

[2018-08-14 15:00] Azquelt opened #300 "Fault Tolerance 1.1 spec is missing property to disable metrics integration"
When we added metrics integration in #257, we specified a property to disable the metrics integration: `MP_Fault_Tolerance_Metrics_Enabled`

When we updated the spec to allow annotations to be explicitly enabled in #275, we accidentally removed the section that referred to `MP_Fault_Tolerance_Metrics_Enabled`

The TCK that tests that this property works is still present: https://github.com/eclipse

[2018-08-15 13:12] #300 closed

[2018-08-20 15:08] Pandrex247 opened #302 "CircuitBreakerTest.testCircuitDefaultSuccessThreshold, CircuitBreakerTest.testCircuitInitialSuccessDefaultSuccessThreshold, and CircuitBreakerTest.testCircuitLateSuccessDefaultSuccessThreshold tests need splitting up."
These three tests all check the behaviour of a circuit breaker as it "fills up". Individually they are fine, but when you run all of the test methods sequentially (such as what would happen if you used _mvn clean test_) these three tests foul each other up. This is due to each of them using the same bean class and method and expecting it to have a "clean" circuit breaker - as in, an unused one.

S

[2018-08-20 15:32] Azquelt commented on #302
`CircuitBreakerClientDefaultSuccessThreshold` is `RequestScoped`.

Generally this means you get a new instance for each test, but I'm not sure if that's a side effect of Arquillian making a request for each test when using the servlet protocol.

If there are cases where we don't get a new instance for each test, we could change it to a dependent bean and inject a separate instance for each test in

[2018-08-20 16:14] Pandrex247 commented on #302
Is it expected behaviour then that if you have two instances of the same bean that they don't share the same circuit breaker?

As I understood the spec the annotations were tied to the actual methods, so that each instance of a bean that calls an annotated method would share the same circuit breaker.

[2018-08-21 15:03] Pandrex247 opened #303 "ConfigPropertyGlobalVsClassTest is Invalid"
Unless I'm misunderstanding it, this test is checking that a property defined at the global level overrides one specified at the class level.
This is incorrect - the spec states:

This is in alignment with the `ConfigPropertyGlobalVsClassVsMethodTest` test, which correctly checks that a method setting has priority over a class setting which has priority over a global setting.

Link to offending te

[2018-08-22 13:00] Pandrex247 commented on #303
Realised I've made a mistake and overlooked something - the test *should* work as it is currently, but it is poorly named/described.

What the test is actually checking is that the global property has precedence over the class property **if** the method has its own annotation. It's similar to `ConfigTest.testClassLevelConfigMethodOverrideMaxRetries`

I'll close the issue - but feel free to re-open

[2018-08-22 13:00] #303 closed

[2018-08-22 13:01] Emily-Jiang opened #304 "1.1 spec lost a paragraph due to the merging"
The paragraph on disabling metrics on FT was lost due to the merge. We need to put it back.

=== Configuring Metrics Integration
The integration with MicroProfile Metrics can be disabled by setting a config property named `MP_Fault_Tolerance_Metrics_Enabled` to the value `false`.
If this property is absent or set to `true` then the integration with MicroProfile Metrics will be enabled and the metr

[2018-08-22 13:30] Emily-Jiang commented on #304
dup of #300

[2018-08-22 13:30] #304 closed

[2018-08-22 13:38] Emily-Jiang commented on #298
@brunobat and I discussed this on today's hangout. We think all declared methods must return a future or completion stage. If the return is void, it should Future<Void> or CompletionStage<Void>

[2018-08-22 13:42] Emily-Jiang opened #305 "Configure this repo to trigger CI on a PR"
Need to improve the infrastructure to hook up with CI with PRs to prevent from build breaks.

[2018-08-28 14:55] Azquelt commented on #298
Fair enough

[2018-08-28 14:55] #298 closed

[2018-08-29 13:03] brunobat opened #306 "Warnings due to missing Javadoc"
When we build the project, `mvn clean install`, we get a lot of warnings related with missing Javadoc... We are missing a few @return, @throws and @param javadoc annotations and their descriptions. Fixing this will also contribute to make the spec more understandable for everyone.

[2018-08-31 08:48] Emily-Jiang opened #308 "Prepare FT 1.1.2 release"
Need to take into consideration of #301

[2018-09-05 13:07] Emily-Jiang commented on #302
yes to your question @Pandrex247

[2018-09-05 13:09] Emily-Jiang commented on #302
If you are happy with the answer, please close this issue. Thanks for reporting this!

[2018-09-05 13:12] Emily-Jiang commented on #297
@sdaschner can you review the PR #267  to see whether it addresses your problem. If yes, please close this issue. If not, please explain a bit more so that we can understand your use case better.

[2018-09-05 13:17] #294 closed

[2018-09-05 13:40] Emily-Jiang commented on #274
@mkouba is this a spec clarification?

[2018-09-05 13:43] mkouba commented on #274
Yes, it is.

[2018-09-05 13:46] Emily-Jiang commented on #252
I'll update FT to use CI plugin to run a build.

[2018-09-05 13:47] Emily-Jiang commented on #305
will do this under the issue #252

[2018-09-05 13:47] #305 closed

[2018-09-05 13:48] #247 closed

[2018-09-05 13:51] Emily-Jiang commented on #248
@antoinesd it makes sense on synchronous calls if the work being done is interruptible. In the worst scenario, if the thread ignores the interruption, the thread will return when it finishes.

[2018-09-05 13:57] Emily-Jiang commented on #245
revisited this on today's hangout...
should it return true when the returned Future is done?
I think it should return true when the returned Future is done.

[2018-09-05 14:00] Emily-Jiang commented on #245
@mkouba can you join the call on 12th September to discuss all asynchronous-related issues?

[2018-09-05 14:38] mkouba commented on #245
Probably not but @antoinesd could probably stand in for me?

[2018-09-05 15:15] sdaschner commented on #297
Thanks for the update!

Yes, the changes LGTM for what I'm having in mind with JAX-RS. I'll test that new version of FT once it'll be available.

However, we might want to consider adding a possibility to define (lower-level) managed ExecutorServices for more flexible scenarios as well in a future release.

[2018-09-05 15:15] #297 closed

[2018-09-06 08:43] antoinesd commented on #245
Yes @mkouba, I will

[2018-09-06 10:13] Pandrex247 commented on #302
Yep, thanks :)

[2018-09-06 10:13] #302 closed

[2018-09-11 16:35] Azquelt commented on #245
As part of #110 to add support for `CompletionState` being returned from `@Asynchronous` methods, the Javadoc for `@Asynchronous` was mostly re-written and is more precise about the behaviour of the returned object while the method is running, when it has thrown an exception and when it has returned a value.

Could you check whether it's clear and precise enough to answer your questions?

[2018-09-12 12:55] Azquelt commented on #291
Can we clarify the following:

`@Retry` + `@Timeout` - does each retry attempt start a new timeout?

`@Timeout` + `@CircuitBreaker` - is the `TimeoutException` counted as a failure by the circuit breaker?

`@Timeout` + `@Bulkhead` + `@Asynchronous` - We said that the `TimeoutException` is thrown immediately and the running method is interrupted. Does the execution still take up a bulkhead running

[2018-09-12 13:46] Emily-Jiang commented on #250
@mkouba your comment was taken into consideration and all subsequent execution will happen in a separate thread. see #291 for the decision on the combination of annotations and their behavior.

[2018-09-12 13:55] Emily-Jiang commented on #249
need to add `CircuitBreaker` to section 4.1 and clarify the following
[code]

Invocation is asynchronous and all invocation counts towards circuit breaker. If result has exception, it is a failure, which will contribute towards circuit breaker open.

[2018-09-12 15:10] Azquelt opened #310 "Can Fallback be used without Retry or CircuitBreaker?"
Can you use `@Fallback`, either on its own or in conjunction with `@Bulkhead`, `@Asynchronous` or `@Timeout`

Currently the spec initially says that `@Fallback` can be used once `@Retry` or `@CircuitBreaker` has failed enough. It then later says

In the TCK tests, `@Fallback` is always used with `@Retry`, except in `FallbackMetricBean` which is only trying to tests metrics.

Can we either specify

[2018-09-12 15:13] kenfinnigan commented on #310
I've used `@Fallback` on its own, so that should definitely be made clear that that is permissable

[2018-09-12 16:44] Azquelt opened #311 "Can a fallbackMethod be non-public?"
Currently the fallbackMethod example in the spec shows a private fallback method, however there are no TCK tests which have non-public fallback methods.

[2018-09-13 12:50] Azquelt commented on #291
I found one that I missed:

1. `@Bulkhead` + `@CircuitBreaker` - how do these work together? When do we check whether the circuit breaker allows execution relative to when we attempt to acquire a slot from the bulkhead? Is a `BulkheadException` counted as an execution failure by the circuit breaker?

[2018-09-13 16:27] Azquelt opened #312 "Retry: What happens when delay is less than jitter?"
The `@Retry` javadoc says that a random value between `jitter` and `-jitter` is added to `delay` to find out how much delay should be applied to each retry attempt.

What happens when the value of `delay` is less than the value of `jitter`?

This question is particularly pertinent because the default configuration has `delay=0ms, jitter=200ms`. Obviously we can't delay for `-200ms`, but what is th

[2018-09-13 16:29] Azquelt commented on #312
Personally, I think that if `delay=0` then there should be no delay. I can see the following options:

* Make it invalid for jitter to be less than delay. Change the default jitter to 0.
* Specify that jitter is set to the same value as delay if jitter is greater than delay.

[2018-09-18 13:09] cen1 commented on #220
I see the pull request is like 20 LOC, what is the holdup for the merge?

[2018-09-18 16:38] Emily-Jiang commented on #220
We talked this PR and had some questions. @antoinesd is going to update his PR accordingly. I will try to take this over, if Antoine cannot get around to do it.

[2018-09-19 07:55] antoinesd commented on #250
After checking with @mkouba we can close this issue. Further discussion may happen on #291

[2018-09-19 10:45] Azquelt opened #313 "Specify interactions with AroundInvoke interceptors"
How does Fault Tolerance interact with `@AroundInvoke` interceptors?

* Does fault tolerance happen before other interceptors?
should it be lib_after(3000, open liberty) or lib_before (1000, thorntail), safeguard (400)?

We agree on to set the initial value of platform_after + 10 (4010)
Transactional - 200

@Retry
@MyLog(3)
@MyPrint(4)
public void myInvok() {

...
}
1. log->print->FT->method
most

[2018-09-19 12:44] Emily-Jiang commented on #311
yes. The method can be non-public. We need tck to mandate this.

[2018-09-19 12:45] Emily-Jiang commented on #310
we should add spec clarification and tck

[2018-09-19 12:45] #308 closed

[2018-09-19 13:14] #250 closed

[2018-09-19 13:27] Emily-Jiang commented on #312
@antoinesd and Bruno to check the current behavior on Thorntail and Safeguard and rediscuss

[2018-09-19 14:34] benjamin-confino opened #315 "Asserts Messages for RetryTest don't specify how many retires were made"

[2018-09-20 15:03] mkouba opened #317 "TCK: Packages.METRIC_UTILS may be null - causes a lot of tests to fail"
`Package.getPackage()` only returns a non-null value if the callers `ClassLoader` (or any parent) defined the package already, i.e. loaded a class with this package. We are experiencing problems when running TCK in smallrye and excluding a test class that attempts to access the `Packages.METRIC_UTILS` constant in its deployment method (e.g. `BulkheadMetricTest`).

I'd recommend to change the code

[2018-09-20 15:06] mkouba opened #318 "TCK: Tests in org.eclipse.microprofile.fault.tolerance.tck.metrics do not add beans.xml to deployments"
For example https://github.com/eclipse/microprofile-fault-tolerance/blob/master/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/metrics/BulkheadMetricTest.java#L49-L56

For compatibility reasons at least an empty `beans.xml` should be added.

[2018-09-21 16:53] Emily-Jiang commented on #318
By the way, the test is not technically wrong. It should pass on your system. What do you mean by compatibility reasons? Do you mean to keep the same fashion as other tck tests?

[2018-09-25 12:56] antoinesd commented on #318
It means that if you are not launching the tests in a true Java EE env (where CDI is activated by default by spec), you don't have an information that CDI should be activated

[2018-09-26 13:31] #317 closed

[2018-09-26 13:47] Emily-Jiang commented on #313
mp.fault.tolerance.interceptor.priority=Priority.PLATFORM_AFTER+10 use this property to configure the priority if necessary

[2018-10-03 12:58] Azquelt opened #322 "Does @Timeout clear the Thread interrupted flag when the method returns"
Then `@Timeout` is used, the thread is interrupted with `Thread.interrupt()`. Ideally the method checks this flag, or is running some waiting method which will throw an `InterruptedException`.

However, it's possible for the method to ignore this, which would result in the interrupted flag still being set when the method eventually returns.

Should we specify that fault tolerance should clear the

[2018-10-03 13:35] Emily-Jiang commented on #313
How do we expect other interceptors to be called when used with

    @Retry (see above)
    @Asynchronous
        Interceptors later in the chain get called on another thread? yes
        Interceptors later in the chain see the result from the method? yes
        Interceptors earlier in the chain see the result placeholder returned by fault tolerance? yes
        Interceptors earlier in the chain

[2018-10-03 13:49] Emily-Jiang commented on #313
Revisit this issue to see what @antoinesd @brunobat find out the behaviour on Thorntail and TomiEE for placing CDI interceptors mixed with Fault Tolerance annotations on EJB beans. See code example https://github.com/Azquelt/open-liberty/blob/ejb-ft-async-bug/dev/com.ibm.ws.microprofile.faulttolerance.cdi_fat/fat/src/com/ibm/websphere/microprofile/faulttolerance_fat/tests/ejb/FaultToleranceEjbTest

[2018-10-03 13:52] Emily-Jiang commented on #322
The consensus on today's call is: we should clarify in the spec and add the tck tests.

[2018-10-03 13:53] Emily-Jiang commented on #315
fixed by PR #316

[2018-10-03 13:53] #315 closed

[2018-10-03 14:03] Emily-Jiang commented on #313
@carlosdlr please contribute tcks for this.

[2018-10-03 14:03] Emily-Jiang commented on #312
@brunobat to contribute tcks.

[2018-10-09 08:28] mkouba opened #323 "TCK CircuitBreakerTest - test methods reusing CircuitBreakerClientDefaultSuccessThreshold#serviceA()"
Specifically `testCircuitInitialSuccessDefaultSuccessThreshold()`, `testCircuitLateSuccessDefaultSuccessThreshold()` and `testCircuitDefaultSuccessThreshold()`.

This is not correct as the tests may affect each other. E.g. `testCircuitDefaultSuccessThreshold()` leaves the CB OPEN...

Note that there is no portable way to reset the CB state for a particular bean/method.

The bean could be reused bu

[2018-10-09 20:20] derekm opened #324 "Specify that CircuitBreaker should break if threshold is met before requestVolumeThreshold sliding window is full"
If the `requestVolumeThreshold` has not yet been met, but the initial observations surpass `requestVolumeThreshold`*`failureRatio` failures, then the CircuitBreaker should open the circuit.

E.g., if `requestVolumeThreshold` is 6, and `failureRatio` is 0.5, then 6*0.5 is 3. If the first 3 observations are failures, the threshold has been met, and the circuit can be opened.

We have unit tests for

[2018-10-09 21:58] Emily-Jiang commented on #324
Yes, this is expected behaviour. The requstVolumeThreshold should be met first and then check the failure ratio. If the failure ratio is met, then circuit will be open. Remember this is rolling window. The first threadshold needs to be met first. After that, it will cut the last consecutive requests. e.g.

if requestVolumeThreshold is 6, and failureRatio is 0.5, if the first 3 executions failed, i

[2018-10-11 11:39] OndrejM commented on #110
Isn't this done with #267? Can we close this?

[2018-10-11 13:18] Emily-Jiang commented on #110
strangely. A link should not trigger this issue to be reopened. I'll close this.

[2018-10-11 13:18] #110 closed

[2018-10-12 09:43] pavolloffay opened #326 "Context propagation"
Hi folks,

`@Asynchronous` annotation and maybe others execute the method on a different thread which breaks context propagated via thread locals. If these methods use mp-rest-client it breaks tracing or e.g. MDC.

On the spec level there could be a way to reliably propagate context between threads. It could be done by providing custom executor service or maybe via https://github.com/eclipse/micro

[2018-10-12 09:44] pavolloffay commented on #326
Cross-linking issue with mp-ot https://github.com/eclipse/microprofile-opentracing/issues/108

[2018-10-13 17:46] Emily-Jiang commented on #326
@pavolloffay we are fully aware of this, which leads to the specification of microprofile concurrency. We plan to do minimal in this spec for context propagation but rely on concurrency spec to fix the propagation issues.

[2018-10-14 09:15] ggam commented on #246
Any chance to get this for the next version? Can I help here?

[2018-10-14 10:42] ggam opened #327 "Don't block current thread on retry with delay"
Looking at Payara and SmallRye implementations of the `@Retry` interceptor, I found that both sleep the current thread when `@Retry` is used with a delay. That can be dangerous when the request is not being processed asynchronously, as it will block a request thread from the pool. If the error was caused due to a recurrent problem (e.g. some depended service unavailability), lots of request thread

[2018-10-14 11:55] Azquelt commented on #327
With @Retry and @Asynchronous, it's possible to release the thread and schedule a new task for the retry.

It's not possible to do that when not using @Asynchronous because all execution happens on the same thread.

In addition, no call should block the calling thread when using @Asynchronous. I think that's now explicit in the spec.

I'm unsure whether it should be explicitly specified that when

[2018-10-14 12:18] ggam commented on #327
I think I might have failed to explain my point. Let my try again.

I don't need the method call to be asyncronous, the problem is on the sleep.

Imagine I have a synchronous method that returns an Object. Annotating it with `@Retry` with a delay of 2 seconds will block the request thread for 2 seconds before calling my method again. My method finishes in milliseconds and doesn't do IO, so I don't

[2018-10-14 12:29] ggam commented on #327
Note that exceptions in CompletableFuture s are not being handled right now: #246.

[2018-10-14 12:52] ggam commented on #327
Just to put another example on why `@Asynchronous` doesn't solve the case and why I think it's important to take advantage of the returned `CompletableFuture`: imagine my intercepted method is full of REST calls to other microservices. It's execution might be slow so I make all calls asynchronously calling `rx()` on the clients. My resource returns a CompletableFuture so JAX-RS 2.1 will handle eve

[2018-10-15 08:00] pavolloffay commented on #326
@Emily-Jiang thanks for the response. I could not find any references in FT repo on this feature. It would be good to create an issue there for people to subscribe.

Do you know what is the timeline for this to land in concurrency?

[2018-10-15 09:45] Azquelt commented on #327
Ah, I think I see, you're asking for fault tolerance policies to be applied to the result of the method, rather than to the method call itself.

The expected flow with retries would be something like this?
1. User calls method
2. The method returns a CompletionStage (representing some async operation such as a JAX-RS client call)
3. Execution of the request continues
3. Some time later, the async

[2018-10-16 11:00] Azquelt opened #328 "Does a fallbackMethod need to be on the same class?"
The spec currently says:

To me, this sounds like the fallbackMethod must be on the same class as the method which references it.

If this is the case, can we add some negative tests where we reference a fallbackMethod on a superclass and check that this returns a definition exception?

If this is not the case, can we answer the following:
* can the fallbackMethod be on a superclass?
  * can the f

[2018-10-16 18:17] ggam commented on #327
Yes, that's it. Actually, #246 asks for it. I just propose to take advantage of it and expand a bit further.

Yes. Currently, I don't see an option to change the pool that does the async invocation, but if such option exists, the pool that executes the delay should be different than the one specified by the user, to avoid locking application threads for runtime stuff.

As for the tests, I know it

[2018-10-17 10:13] antoinesd opened #329 "TCK: BulkheadMetricTest is hanging when failing"
Method `newWaitingFuture()` in `BulkheadMetricTest` generates `CompletableFuture` with direct  instantiation (i.e. `new CompletableFuture<>()`)  and returns it.
 Later in test, we are waiting for this  `CompletableFuture` completion with `future.get()` (in `BulkHeadMetricBean#doWaitFor()`). On Java SE this goes in an endless waiting loop.
Tested on Oracle JVM 1.8.0_172-b11 and 9.04

This can be ea

[2018-10-17 10:32] Azquelt commented on #329
Hi,

Your code will fail because you're never calling f.complete() anywhere.

In the BulkheadMetricTest, we create the future, pass it into the bean which should run asynchronously and calls `.get()`, then later in the test we call `.complete()` (at which point the earlier call to `.get()` returns).

Could you give more information about which tests you're hitting a problem with?

[2018-10-17 10:34] Azquelt commented on #329
Possibly, we should change `BulkheadMetricBean#doWaitFor` to call `get()` with a time limit to avoid the possibility of the test hanging. However, if the time limit was hit, we would fail the test.

[2018-10-17 11:38] antoinesd commented on #329
`bulkheadMetricTest`. Right now test should fail because I don't register required metrics. the failure should occur in `MetricGetter#getGaugeValue` when the first `assertThat` on line 100 is called. When debugging I can see exception treatment (NoSuchElementException) but it doesn't stop the test which continue indefinitely.

+1 for that. Test should run and fail and not hang indefinitely.

[2018-10-17 12:16] Azquelt commented on #329
I'm a bit surprised, although I can understand that this might leave the async thread running, I'm surprised that that causes the whole test run to stop, even after the test method has thrown the exception. I guess something somewhere is must be waiting for all background threads to stop? Possibly when the app is undeployed?

I also spot a mistake. The method `completeWaitingFutures` is meant to r

[2018-10-17 16:05] antoinesd commented on #329
Changing `@AfterTest` to `@AfterMethod` correct the issue. I send a PR

[2018-10-17 16:45] #329 closed

[2018-10-18 07:05] derekm commented on #324
@Emily-Jiang -- Yes, I think you're right. My tests were putting me on an artificial time horizon. In a continuously running system, I don't really need to worry about short-circuiting thresholds outside of the 1st pass through the sliding window.

Is there absolutely no value to the different dynamics provided by short-circuiting thresholds during the 1st pass through the sliding window? I think

[2018-10-31 14:14] Azquelt commented on #324
Is this resolved? Can the issue be closed?

[2018-10-31 14:25] Azquelt commented on #328
From discussion on 31 October:
 - Should allow it to reference a method on the superclass to be consistent with regular method calls
 - Following from that, you should not be able to reference a private method on the superclass
 - Shouldn't be able to reference a method on the subclass (unless it's overriding a method which is visible to the class with the `@Fallback` annotation)
 - Should be able

[2018-10-31 14:30] Azquelt commented on #323
@carlosdlr will update these tests

[2018-10-31 14:33] Azquelt commented on #312
I think this has been cleared up, thanks :)

[2018-10-31 14:33] #312 closed

[2018-10-31 14:36] Azquelt commented on #310
@brunobat is happy to work on this, is that ok with you @Emily-Jiang ?

[2018-10-31 14:43] Azquelt commented on #252
We think this is almost done
 * Emily has enabled the CI plugin
 * @carlosdlr has translated the rules from the pom.xml into an mp-checkstyle.xml file which can be referenced by an IDE to apply the same rules in the editor (#228)

One thing we'd like to change is to make the pom.xml reference the mp-checkstyle.xml file, rather than both files defining the same rules. @carlosdlr will make another P

[2018-10-31 14:46] brunobat commented on #306
This has been implemented in #321. Done

[2018-10-31 14:46] #306 closed

[2018-10-31 14:51] Azquelt commented on #296
Is this resolved? Can it be closed?

[2018-10-31 16:14] Azquelt commented on #249
4.1 was updated to say that `@CircuitBreaker` can be used with `@Asynchronous` in #314

It now reads

There's no further detail about how `@CircuitBreaker` and `@Asynchronous` interact because `@CircuitBreaker` works in the same way for synchronous and asynchronous execution.

Looking through the TCKs, PR #333 introduces tests for `@Asynchronous`, `@CircuitBreaker` and `@Retry` as well as `@Asynch

[2018-10-31 16:17] Azquelt commented on #322
#333 adds this test for synchronous execution. It's not possible to test for asynchronous execution because you can't get hold of the work thread after fault tolerance has finished with it. I'll make a new PR to also update the spec.

[2018-10-31 19:44] rdebusscher commented on #296
I proposed a PR where I indicate this info in the spec.

https://github.com/eclipse/microprofile-fault-tolerance/pull/334

[2018-11-06 13:56] mkouba opened #335 "Clarify Gauge metrics added for @CircuitBreaker"
These are `ft.<name>.circuitbreaker.open.total`, `ft.<name>.circuitbreaker.halfOpen.total` and `ft.<name>.circuitbreaker.closed.total`.

The spec states that _"the sum will give the total time that the circuit breaker has been active for"_. I'm not quite sure what _"active"_ means in this sentence. The circuit breakers are shared objects (i.e. their state can be modified from multiple threads) and

[2018-11-06 14:52] mkouba opened #336 "TCK - incorrect expectation in BulkheadMetricTest#bulkheadMetricAsyncTest()"
This test incorrectly expects the a `BulkheadException` to be thrown immediately when an `@Asynchronous @Bulkhead` is invoked.

See also https://github.com/eclipse/microprofile-fault-tolerance/blob/1.1.2/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/metrics/BulkheadMetricTest.java#L203

See also the spec wording **Asynchronous > Exception Handling**:
_"For example, if `@Asynchrono

[2018-11-06 15:02] Azquelt commented on #335
Yeah, that's correct.

I agree "active" is a bit ambiguous. Maybe we should state "the sum will give the total time since the circuit breaker was initialized". Would that be clearer?

[2018-11-06 15:06] mkouba opened #337 "TCK - BulkheadMetricTest#bulkheadMetricHistogramTest() sleeps for 3 seconds?"
See also https://github.com/eclipse/microprofile-fault-tolerance/blob/1.1.2/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/metrics/BulkheadMetricTest.java#L162

I don't think that any tck test should sleep for 3 seconds. And if it's really needed, it should be well described why it is needed and the value should be probably a configurable property so that it would be possible to sc

[2018-11-06 16:50] Azquelt commented on #337
The idea of this test is to test the bulkhead execution time histogram metric. It reports the spread of execution times for invocations of the method.

To test it, we need a set of executions which takes a spread of times. The test runs two executions which take three seconds (in parallel) and then runs 10 that should take negligible time.

We then check that the histogram reports that the fastest

[2018-11-06 16:52] Azquelt commented on #336
I've removed most of the cases where we're expecting a `BulkheadException` under #333 but I missed this one. I'll add it there.

[2018-11-06 23:33] Emily-Jiang commented on #296
After a further thought on this, I think this info is better placed https://github.com/eclipse/microprofile/blob/master/spec/src/main/asciidoc/required-apis.asciidoc as the clarification affects the whole MicroProfile specifications as all of the specs are based on CDI. A couple of issues (e.g. https://github.com/eclipse/microprofile/issues/49) in that repo directly talk about this.

[2018-11-06 23:38] Emily-Jiang commented on #327
You are talking about implementation details for the Fault Tolerance interceptor. The spec should just spec the behavior not force the implementor to implement in a particular way.

[2018-11-06 23:42] Emily-Jiang commented on #326
MP Concurrency aims for MP 2.2 release.

[2018-11-07 07:46] mkouba commented on #337
I understand that it's not easy ;-). My point is that if there is a lot of similar tests then running the whole test suite is more time consuming and that usually leads to `-DskipTests`.

For this particular test I would suggest to lower the value to 1000ms. It should be enough, or?

In CDI TCK there is a property called [testTimeoutFactor](https://github.com/cdi-spec/cdi-tck/blob/master/api/src/m

[2018-11-07 14:59] Azquelt commented on #337
For example, in this test we expect the method call to take 3000ms but, to allow for small variations in machine speed and load, when we do the check we allow a tolerance of 100ms, so that any value between 2900ms and 3100ms is acceptable.

[2018-11-07 15:34] antoinesd commented on #296
JAX-RS resources are not defined as CDI bean in Java EE umbrella spec. They should support some CDI services and be instantiate as non-contextual instances. This mechanism is the responsibility of the JAX-RS implementation. So I thin these CDI beans mentions are wrong.

[2018-11-07 20:35] rdebusscher commented on #296
But now we have the situation that some vendor are only applying the fault
tolerance annotations when the JAX-RS resource is explicitly marked with
some CDI scope. Other vendors on the other hand always apply them without
the need of CDI beans.

But this means that an application can not run on all implementations
unaltered, except when the CDI bean scope is there. So why not mark that
then in the

[2018-11-07 23:00] ljnelson commented on #296
Additionally, while it is true that in the Java EE Platform Specification it is mentioned that JAX-RS resource classes are not defined to be CDI beans, no statement one way or the other is made about the relationship between a JAX-RS resource class and a CDI bean in the MicroProfile effort, and no mention of CDI is made within the JAX-RS specification itself.  So strictly speaking in MicroProfile

[2018-11-11 12:34] Emily-Jiang commented on #296
Thank you @rdebusscher for revisiting this! We should discuss the issue eclipse/microprofile#49  in the next architecture call.

[2018-11-19 10:39] Azquelt commented on #336
Fixed in 9b09c24 as part of #333, which has now been merged.

[2018-11-19 13:54] Azquelt commented on #328
A few more points to check next meeting:

Presumably wildcards should work:
[code]

How about type variables?
[code]

How about type variables in a superclass?
[code]

How about type variables in a superclass which are bound in a subclass?
[code]

(Note: from a reflection point of view, the last two cases are the same - the `T` in class `A` is not the same type variable as the `T` in class `B`)

[2018-11-21 09:43] mkouba opened #341 "Inconsistency between CircuitBreaker.failureRatio() javadoc and spec example"
Javadoc:

However, according to the example in the **8.1. Circuit Breaker Usage** - quoted below - **10 and more failures** (20x0.5) should open the circuit.

Circuit Breaker Usage example with `requestVolumeThreshold = 4, failureRatio=0.75`:

According to the javadoc above **more than 3 failures** should open the circuit.

[2018-11-21 09:51] mkouba opened #342 "CircuitBreaker - clarify how requestVolumeThreshold() and rolling window work"
Both the spec and the javadoc mention a "rolling window" but neither explains well how it should work.

If I understand it correcly, only the results of the last `n` requests (where `n=requestVolumeThreshold()`) should be considered when calculating a circuit health. And the results should be reset when a circuit changed its state, i.e. for the following method:
[code]
REQUEST 1 - ok
REQUEST 2 - o

[2018-11-21 14:13] Emily-Jiang commented on #342
I'll add some spec clarification for this. yes to your question.

[2018-11-21 14:14] Emily-Jiang commented on #341
will fix the inconsistency in the spec.

[2018-11-21 14:31] Azquelt commented on #328
Things that I think should not match:

Different type variables
[code]

Different type variables again (`T` is scoped to the method)
[code]

[2018-11-21 14:43] Emily-Jiang commented on #246
Let's try to get this done for FT 2.0.

[2018-11-21 14:43] Emily-Jiang commented on #246
@brunobat will take a look to contribute some tcks.

[2018-11-25 18:47] rmannibucau opened #347 "The spec shouldn't expect a single interceptor for all interceptor bindings"
The spec expects a single interceptor but defines multiple interceptor bindings, it would likely be easier and saner for users to define one interceptor per binding or just let the implementors do the way they want.

[2018-11-26 10:31] Emily-Jiang commented on #347
- This feature is directly put forward by implementors to consolidate and operate on the same rules, so that microservices behaves the same among the different runtimes.

- This interceptor is for implementors to define. Specifying one interceptor allows the end users easily config the priority with a config property so that the sequence of interceptors is clear.

- We don't want implementors to d

[2018-11-26 10:45] rmannibucau commented on #347
This does not change anything actually since the implementor can still change the priority programmatically in an extension.

However for end users it fully prevent to integrate with the interceptor chain which is bothersome when enriching the spec with custom features - leading to bypass the spec to speak transparently.

All you other points (which is to define the chain) is compatible with using

[2018-11-26 13:39] rmannibucau opened #348 "Ensure interceptor(s) can be added without being in sources"
The idea is to fully read in the conf interceptor set up instead of requiring them to be in java sources which is kind of not the goal of a fault tolerant library.

Idea is to not have any import of the spec in the sources and add the instrumentation through configuration only (mp config). This enables to make an app fault tolerant depending where it is deployed and not hardcode some defaults whic

[2018-11-26 16:38] rmannibucau commented on #302
Hello,

can we reopen this issue please? request scoped is undefined in arquillian and using an embedded container you hit easily that issue so I guess the bean should be duplicated or some pause should be added in between tests

[2018-11-27 09:10] rmannibucau opened #354 "ft.<name>.bulkhead.executionDuration metrics shouldn't be linked to bulkhead"
The method execution duration is unrelated to bulkhead so why is it linked in this metric?

[2018-11-27 10:34] rmannibucau opened #355 "TCK using ShouldThrowException should assert on fault tolerance exceptions and not CDI exceptions"
Rational being to not check the CDI container  but the actual behavior (validation mainly)

[2018-11-27 12:44] Azquelt commented on #355
Agree, looks like most of the `Invalid******Test` classes are checking for `javax.enterprise.inject.spi.DefinitionException` instead of `org.eclipse.microprofile.faulttolerance.exceptions.FaultToleranceDefinitionException`

[2018-11-27 12:48] Azquelt commented on #354
The rationale was that although it's not directly related to bulkhead, it's one of the metrics that's important if you're trying to understand why your bulkhead is or isn't being hit.

E.g. if your bulkhead is filling up, it's probably because you are getting a lot of requests, or because they're taking a long time, so having executionDuration as a metric allows you to see which case is happening.

[2018-11-27 13:08] rmannibucau commented on #354
@Azquelt I can understand that but shouldnt it be added to the "chain" (without any annotation) too for consistency and comparison of the numbers? Also the description can need to be refined in such a case.

[2018-11-27 13:31] rmannibucau commented on #354
Current one is (in metrics.adoc)

    Histogram of method execution times. This does not include any time spent waiting in the bulkhead queue.

What about

    The time the permit or a thread of the pool of the bulkhead is actively hold.

[2018-11-27 13:54] Azquelt commented on #347
Here's my argument for specifying that the implementation should be provided as a single interceptor:

1) While synchronous execution can be described fairly nicely as a series of interceptors, asynchronous execution cannot. The main problem is Timeout. When running asynchronously, we want Timeout to work even on methods which don't respond to being interrupted (e.g. methods which do blocking IO).

[2018-11-27 18:20] spericas opened #357 "Exception propagation in BulkheadAsynchRetryTest"
The spec states,

"A call to a method annotated with @Asynchronous will never throw an exception directly.
Instead, the returned Future or CompletionStage will report that its task failed with the
exception which would have been thrown.

For example, if @Asynchronous is used with @Bulkhead on a method which returns a Future
and the bulkhead queue is full when the method is called, the method will

[2018-11-27 18:36] spericas opened #358 "Bean BulkheadRapidRetry55MethodAsynchBean should set jitter"
The `@Retry` annotation on `BulkheadRapidRetry55MethodAsynchBean::test` sets a delay of 1 micro second with the intent of retry bulkhead exceptions as quickly as possible. However, the test does not set `jitter` leaving it to its default of 200 ms.

Without setting `jitter` to a low value in micros, my understanding is that the delay will be affected by the default value of 200 ms. With that varia

[2018-11-28 09:02] rmannibucau opened #359 "review inheritance"
There are some tck testing the inheritance rules (like RetryVisibilityTest) but it makes the user life impossible cause it is not aligned on CDI model and relies on reflection only.

This task is about ensure the spec 100% align on CDI and does not try to define rules against CDI.

[2018-11-28 13:03] Azquelt commented on #359
Can you be more specific about which tests are wrong and which parts of the CDI spec they're in conflict with?

[2018-11-28 13:53] rmannibucau commented on #359
The main issue is to take into consideration the parent method only if the method does not exist in current class, if the parent method exists it should override the class definiton in any case. Method always being more specific than the class.

Same as the class config can be overriden by an annotation on the class, the same applies on the method so reading the method config - whatever it comes f

[2018-11-28 14:00] Azquelt commented on #354
Ah ok, I see where you're going.

I'd prefer to keep the fact that it's a histogram in the description. How about this?

Alternatively, we could be more verbose:

On balance, I think I prefer the first version.

[2018-11-28 14:35] carlosdlr commented on #358
Hello @spericas This was a known issue and was fixed on TCK 1.1

[2018-11-28 14:50] brunobat commented on #348
Hi Romain, thanks for your comment.
This looks like material for a spec with a broader scope.  This changes the way beans are loaded and it would potentially be also useful for other Microprofile Specs.

[2018-11-28 14:53] Azquelt commented on #355
@brunobat will take a look at this

[2018-11-28 15:04] Azquelt commented on #359
Ok, I'll have a look further into this.

[2018-11-28 15:20] rmannibucau commented on #348
Hi @brunobat

Agree, for fault-tolerance and opentracing it can be key features.

[2018-11-28 15:21] rmannibucau commented on #354
+1 for the first version

[2018-11-28 15:38] Azquelt commented on #310
Looks like this has been completed, thanks @brunobat

[2018-11-28 15:38] #310 closed

[2018-11-28 15:53] Emily-Jiang commented on #357
These tests expect the calling method to throw exception, which is incorrect assumption. I am ok to exclude these tests.

[2018-11-28 16:35] spericas commented on #357
@Emily-Jiang I'm fine with excluding them, but propagating the exception reported by a `Future` as explained above should work as well.

[2018-11-28 16:46] spericas commented on #358
@carlosdlr Could you provide a link to the change or the git tag that I should use? I see some classes are renamed in later versions, but no explicit use of `jitter`.

[2018-11-28 16:51] Azquelt commented on #311
This is one of the cases covered in #356

[2018-11-28 17:14] Azquelt commented on #291
Have we now covered this adequately with #314 and #333 ?

[2018-11-29 07:15] OndrejM commented on #291
@Azquelt @Emily-Jiang @antoinesd

I'm still missing description of what happens, if methods complete really asynchronously, with Future/CompletionStage completed (succesfully or exceptionally) after methods return. All interceptors should expect asynchronous results and defer their action until the result/exception is available.

This is also raised in #249 specifically for Circuit Breakers.

All

[2018-11-29 07:18] OndrejM commented on #291
In short, to summarize my comment above, only to clarify that `@asynchronous` works with other annotations and that it is triggered first before all other annotations isn't useful. If the user is expected to return a completed future from the method, then using CompletableFuture isn't transparent.

[2018-11-29 14:18] Azquelt commented on #246
We discussed this a little on the hangout this week and I don't think this is possible for methods which return a `Future`.

There's no way to trigger something to run when a `Future` completes, you can only probe it to see if it's done yet. If we wanted to apply `Retry` around the completion of a Future, we'd either have to dedicate a thread to waiting for the Future to finish, have a background

[2018-11-29 14:20] Azquelt commented on #291
Hey @OndrejM, thanks for your analysis.

1. Reading over the spec again, I think you're right that we're not clear enough about whether the fault tolerance actions take effect around the method call itself or around the returned Future/CompletionStage completing. The spec should be clearer on the expected behaviour that and we should have tests for returning an incomplete Future/CompletionStage.

[2018-11-29 16:47] spericas commented on #357
Hi @hutchig, thanks for responding. Yes, we thought to start with 1.0 API and TCK and then move to the latest version. Sounds like we should just move up right away.

Which version is the recommended one? 1.1.3?

[2018-12-03 10:54] rmannibucau opened #362 "Abandon Future handling and replace it with CompletionStage"
Today in java futures are most of the time CompletionStage (CompletionFutures), this is what the user can manipulate the most easily, this also enable any framework (MP or not, I'm thinking to DeltaSpike here) to integrate with the pipeline very easily.

Future on the other side does not enable it without reimplementing CompletionStage logic and creating some custom vendor specific API.

To ration

[2018-12-03 16:09] #354 closed

[2018-12-03 17:33] #337 closed

[2018-12-03 17:34] #335 closed

[2018-12-03 17:47] Emily-Jiang commented on #252
This can be closed now.

[2018-12-03 17:47] #252 closed

[2018-12-03 17:49] Emily-Jiang commented on #362
For backward compatibility issues, we are not going to remove Future but adding support for CompletionStage. I image most developers will move towards CompletionStage.

[2018-12-03 17:52] rmannibucau commented on #362
@Emily-Jiang hmm, maybe I misunderstood but MP has no backward compatibility concern, metrics API was broken for instance (unit went from plain value to optional recently), is it really something taken into consideration?

[2018-12-04 17:20] Emily-Jiang commented on #357
@spericas 1.1.3 is the latest released TCK version. I can exclude these 3 tests as we don't want to force implementations to directly throw exceptions from main thread. Also, as @Azquelt pointed out, these tests were rewritten for CompletionStage support in the current master branch.

[2018-12-04 19:33] rmannibucau commented on #347
@emily-jiang: interceptors define a chain and the priorities are defined this way (with jumps > 1) cause user must be able to plug himself in the chain. Fault tolerance breaks it and cdi programming model for no reason at all (you can impl it with plain interceptors). Since microprofike stated it must leverage cdi then it must enable the user to introduce custom interceptors in beyween fault toler

[2018-12-05 11:52] hutchig commented on #242
I have now seen this same problem occur on testBulkheadMethodAsynchFutureDoneWithoutGet

[2018-12-05 13:18] hutchig opened #364 "testBulkheadMethodAsynchFutureDoneWithoutGet is not robust enough to variable delays in test thread scheduling"
Same problem as #242 now seen in testBulkheadMethodAsynchFutureDoneWithoutGet.
I will doa PR with the analogous solution which has proved successful.

[2018-12-05 17:40] Azquelt opened #366 "Add TCKs for cancel() being called on the Future returned from an @Asynchronous method"
When a method annotated with `@Asynchronous` is called, the user should be able to call `.cancel(true)` on the resulting `Future` and interrupt the running task.

[2018-12-05 17:41] Azquelt commented on #366
The semantics of `cancel()` are defined on [Future](https://docs.oracle.com/javase/8/docs/api/index.html?java/util/concurrent/Future.html)

[2018-12-05 18:54] brunobat opened #367 "Implications of extending FaultToleranceException"
What if a user extends FaultToleranceException and starts using it in their code?
Will this be a problem? Do we need to limit its scope?

[2018-12-05 23:09] brunobat opened #368 "Behaviour of methods returning CompletionStage with and without @Asynchronous"
It is not clear what's the difference, in the expected behavior, when returning a CompletableFuture from a method annotated with `@Asynchronous` and from a method without that annotation.
Examples:
[code]

[code]

This is especially important when we are using the `@Retry` annotation in the methods.
What will happen when a retry is performed in both serviceA() and serviceB()?

[2018-12-10 13:12] Azquelt commented on #368
I think the use case we're attempting to solve is that we want to apply fault tolerance logic over an API which is already asynchronous (e.g. a JAX-RS client call, or a mongodb async call).

E.g. we might make a REST service which calls two other services in parallel and then returns their results. This could be done asynchronously like this:
[code]

`ServiceA.call()` might look like this:
[code]

[2018-12-10 14:36] brunobat commented on #368
From the options you mention I think what makes the code less ambiguous is:
* Methods with any Fault Tolerance annotation which return CompletionStage must be annotated with @Asynchronous, otherwise you get a deployment time exception

This will cover the case for the usage of `@Asynchronous` with `@retry` and would inform the user that he should not expect a synchronous behavior from that call, t

[2018-12-10 16:02] mkouba opened #369 "Metrics-related in-container TCK tests import `org.hamcrest` classes but don't include these in the deployment archive"
This may result in `java.lang.NoClassDefFoundError: org/hamcrest/Matchers` if using managed/remote Arquillian containers. A simple but not very convenient workaround is to use custom `AuxiliaryArchiveAppender` and add those classes manually.

TCK tests:
[code]

[2018-12-10 22:30] #322 closed

[2018-12-10 22:35] #366 closed

[2018-12-10 22:40] Emily-Jiang commented on #362
Good idea. We will add a javadoc or spec statement to emphasize the preference for CompletionStage.

[2018-12-11 11:33] Azquelt commented on #369
Hi, thanks for pointing this out. I did run these tests on liberty in a managed container but the classes were being included automatically by our test infrastructure and I missed that the required dependencies weren't being included in the test archive.

[2018-12-11 12:03] mkouba commented on #369
Hi @Azquelt , FYI `org.jboss.arquillian.junit.container.JUnitDeploymentAppender` does add `org.hamcrest` classes by default. So maybe it would make sense to create an Arquillian issue to modify `TestNGDeploymentAppender` in a similar way. Thanks!

[2018-12-12 11:22] Emily-Jiang commented on #368
hmmm. This will break existing application though as we don't prevent the usage of CompletionStage. I think we should discuss a bit more later.

Maybe any methods with `Retry` used for the method of returning CompletionStage should run asynchronously anyway, which has less impact and customer might not notice anything but their retry is attempted.

[2018-12-12 14:13] spericas opened #372 "Exception management in BulkheadMetricsAsyncTest"
TCK version: 1.1.3

Please refer to #357 for background information. Method `BulkheadMetricsAsyncTest::bulkheadMetricAsyncTest` attempts to get a BulkheadException as follows:

[code]

There are 2 implementations of method `expectBulkheadException()`, one that accepts an `ExceptionThrowingAction` and another that accepts a `Future`.

The call above uses the former but should likely use the latter.

[2018-12-12 14:45] Emily-Jiang commented on #368
Method without `@Asynchronous` annotation returning CompletionStage will not be retried even if `Retry` annotation is specified and the completionStage is completed exceptionally, which is the previous behaviour.

``
@Retry
public CompletionStage<String> serviceA() {
        CompletableFuture<String> future = new CompletableFuture<>();
        ...
        return future;
    }

In the above method,

[2018-12-12 15:43] spericas commented on #372
@Azquelt We are going with test exclusion and 1.1.3 for now. Thanks.

[2018-12-12 17:12] Emily-Jiang commented on #369
I prefer this `org.hamcrest` is included by default by `AuxillaryArchiveAppender', which is a much clearer design. Can you get someone in Arquillian to shed some lights on this @mkouba ?

[2018-12-13 07:40] mkouba commented on #369
@Emily-Jiang I'm not sure I understand - do you prefer to to modify the Arquillian's `TestNGDeploymentAppender` to include `org.hamcrest` classes as well? If so, then create an issue: https://issues.jboss.org/projects/ARQ/issue. I'm not convinced it's the best idea though and I believe that @Azquelt 's plan to include an `AuxillaryArchiveAppender` in the TCK seems reasonable to me.

[2018-12-17 10:25] benjamin-confino opened #373 "TCK uses currentTimeMillis"
A couple of TCK tests still use `System.currentTimeMillis()` for measuring the time a thread takes. It is recommended that `nanoTime()` is used instead as nanoTime is independent of the system clock and, for example, switching to daylight savings time will not affect the tests.

[2018-12-17 10:43] sdaschner commented on #298
Sorry for re-opening this, but could you elaborate further what was the outcome of the discussion? While developers can always declare a `CompletionStage<Void>`, I don't see any disadvantage in supporting `void` as valid return type as well.

[2018-12-17 20:00] spericas commented on #372
@Emily-Jiang I've found issues only in the 3 tests that I already mentioned, one in this issue and the other two in #357.

[2018-12-18 12:47] brunobat commented on #362
During the discussion of #368 the abandonment of Future looks inevitable due to implementation constraints.

[2018-12-18 12:58] Azquelt commented on #362
I don't think #368 necessitates abandoning Future.

We can keep the existing behaviour for Future where the fault tolerance logic is applied around the method call, but we can't apply the fault tolerance logic around the completion of the Future, like we can for CompletionStage.

I don't see any reason why we should break backwards compatibility for a feature that people may already be using.

[2018-12-18 13:07] brunobat commented on #362
Right, older methods using Future, will not take advantage of most Fault Tolerance functionalities. Something to document.

[2018-12-18 16:24] Emily-Jiang commented on #373
fixed by #374

[2018-12-18 16:31] Emily-Jiang commented on #372
ok. I'll exclude the 4 tests in 1.1.4 release.

[2018-12-18 16:34] Emily-Jiang commented on #369
@mkouba I prefer to have `TestNGDeploymentAppender` to automatically include the `org.hamcrest` as Junit provides it out-of-box. The `org.hamcrest` is pretty common. The reason I don't want the package this jar inside the MP FT tck is that all other MP TCKs need to do the same if they need to use `org.hamcrest`, which causes a lot of duplication. If this is included in Arquillian, we can just use

[2018-12-18 17:32] Azquelt commented on #359
I've reviewed all the tests in `RetryVisibilityTest` and compared the test expectations against CDI 2.0 Chapter 4 and Common Annotations 1.3 section 2.1.

The only test that appeared questionable to me was `serviceOverrideClassLevelUsesClassLevelAnnotation`, however, on closer inspection the behaviour of this test matches the behaviour of interceptor bindings in general (as least when using Weld).

[2018-12-18 17:45] Emily-Jiang commented on #367
I don't think so.

[2018-12-18 18:20] rmannibucau commented on #359
Hmm, in owb which passes cdi 2.0 tck, the inheritance rule are not natural, can be cause annotatedmethod model is a bit different but also means there is a gap in cdi and MP does not look natural for half of users. Do you think we can find a model natural for both user communities? This is quite painful compared to normal behavior since cdi 1.0.

[2018-12-18 19:16] Emily-Jiang commented on #362
Will add some sentences later with a PR to express the preference of CompletionStage.

[2018-12-18 20:38] rmannibucau commented on #359
I didnt test the same impl but i hit it passing mp-ft tcks on owb and got surprised to not have the behavior i was expecting and to be force to manage inheritance in my extension.

If uncovered by cdi - or 2 impl out there - this can lead to some unportable behavior for mp and the tck to drop (idea being to rely on cdi and not let the user be surprised to have 2 set of rules for the same technical

[2018-12-18 23:16] #364 closed

[2018-12-18 23:18] Emily-Jiang commented on #372
I'll try to do it this week.

[2018-12-19 07:58] OndrejM commented on #362
Reviewing the spec, `Future` is basically handled only internally by the container and only when an app calls `Future.get()`, which has the same semantics as methods returning synchronously, except the app can choose when to apply those semantics. I think this is fine and covers `Future` enough, especially since most people would use `CompletionStage` instead of `Future` nowadays. Even `@Retry` ca

[2018-12-19 08:08] rmannibucau commented on #362
Works for me.

Side note: maybe the cancellation (timeout) should be clarified since it does not work like a synchronous method here and is up to the vendor currently (which is likely good cause only the behavior is important for end user, not the way it is done)

[2018-12-19 08:40] OndrejM commented on #347
I have to agree with @rmannibucau and @struberg, here.

It surprised me today when I found out that the spec requires a single interceptor. This is an implementation detail for me, although I understand the reasons. I believe that all what we need could be reworded to specify the behavior without posing restrictions on the implementation.

For example:
* we could specify a default priority offset

[2018-12-19 08:56] OndrejM commented on #246
Hi, I think that we can easily support Future with the same semantics as for synchronous executions after `Future.get()` is called. I explain it https://github.com/eclipse/microprofile-fault-tolerance/issues/362#issuecomment-448502738.

I wasn't on the hangout on 28 Nov so I may be missing some arguments. But the argument in the meeting minutes isn't really valid: "Future that ends in an exception

[2018-12-19 08:59] OndrejM commented on #186
This is partially solved by enforcing that there's a single interceptor providing all the functionality, with PR #338. The spec still misses detailed description how interceptors are ordered and how they all work together. This information is scattered across specification of individual annotation and is even incomplete. For example, I still didn't find any clarification of whether `@Asynchronous`

[2018-12-19 09:04] OndrejM commented on #348
I believe that this is already possible with MP Config, the app just needs to declare FT annotations. I don't think that supporting FT functionality just with external config is ideal, as it would be more complex to implement and adds a little value on top of the existing behavior.

A compromise solution would be to add one dummy annotation, that would trigger all FT interceptors but only if they

[2018-12-19 09:07] OndrejM commented on #348
Opentracing already supports this with a generic `@Traced` annotation.

[2018-12-19 09:12] rmannibucau commented on #348
@OndrejM not sure I'm following, it is trivial to implement and we do it since some years in several libs so it is not about the implementation. The common use case is 1. I deploy my app 2. one remote service is unreliable 3. some config update, restart and we are good. With current approach you have to do 1. deploy 2. an issue appear 3. go back to dev 4. QA (potentially N > 1 layers) 5. prod whic

[2018-12-19 10:37] Azquelt commented on #362
I don't like this. If you're running something asynchronously, it's presumably because it takes some time, so it doesn't make sense to wait until the user asks for the result to realise that it didn't work and needs to be retried.

I think we should clearly specify that the functionality for Future is more limited than for completion stage and that the fault tolerance logic is only applied around

[2018-12-19 10:58] Azquelt commented on #186
I'm slightly confused, you seem to say that there's a single interceptor, but then go on to say that we don't define how the interceptors are ordered. I'll assume you're asking for the order that the logic required by each annotation should be applied (even if it's applied within one interceptor).

Currently, the spec doesn't define an ordering, but it should define the interactions between annota

[2018-12-19 14:14] Azquelt commented on #369
Here's the question I opened on the forums, I haven't got a response yet: https://developer.jboss.org/thread/279333

[2018-12-19 14:23] Emily-Jiang commented on #368
@brunobat @carlosdlr @Azquelt agreed the above statement on 19th Dec.

[2018-12-19 14:23] #368 closed

[2018-12-19 14:37] Azquelt commented on #359
I'm going to put the small test app on my github so @rmannibucau and @brunobat can see it.

[2018-12-19 16:13] Azquelt commented on #359
Test app here: https://github.com/Azquelt/inherited-interceptor-example

@rmannibucau @brunobat

[2018-12-19 22:31] Emily-Jiang commented on #362
Well said @Azquelt ! As I mentioned earlier, I'll just clarify in the spec to recommend CompletionStage for better async handling.

[2018-12-19 23:06] Emily-Jiang commented on #359
Your bean1A has both service2 and service3 defined. Method level annotation overrides the class level. Hence, service2 has InterceptorB for Bean1A as it inherits the class-level annotation. What is the issue here then? I think what @Azquelt is trying to say that the inherited methods use the subclass's class-level annotation instead of parent class.

I reread the annotation spec. it says
The inter

[2018-12-19 23:09] Emily-Jiang commented on #347
We discussed a bit more in today's meeting. The conclusion is that we will remove the mandate of one interceptor but just specifying the base order of the first interceptor. The logic calling order will remain unchanged. e.g. If you annotate with `@Retry` and `@Timeout`, `Timeout` will be applied to each retry.

[2018-12-19 23:12] Emily-Jiang commented on #348
I am not sure about the magic, which makes application is difficult to read. I have not got any real use case as yet. Please explain your use case. Do you want to use this for your production? We discussed this in the past and decided not to proceed with it unless there is a real use case to ask for this.